footer(class="footer", id="footer")
    div(class="container") 
        div(class="footer__wrapper footer__wrapper--top")
            a(href="#", class="footer__up") 
                span(class="footer__up--text") Наверх
                svg(class="footer__up--icon")
                            use(xlink:href="img/dist/sprite.svg#icon-top")
        div(class="footer__wrapper footer__wrapper--bottom")
            div(class="row align-items-start") 
                div(class="col-lg-6 col-md-6 col-12")
                    div(class="footer__block")
                        a(href="#", class="logotype footer__logotype") 
                            img(src="img/dist/logotype.svg", alt="Русское Перестраховочное Общество")
                        div(class="footer__quotes") 
                            p Дорогу осилит идущий
                            p Run the race to win
                            p 千里之行，始於足下
                            p Ein weg entsteht, wenn man ihn geht
                            p El camino se hace al andar
                            p Berjalan sampai ke batas, berlayar sampai ke pulau
                            p Давс хийвэл уустал, ажил хийвэл дуустал
                            p 한걸음 한걸음이 쌓이면 먼길을 간다
                            p Cuộc đua tới thành công
                            p Magsitakbo upang magwagi
                            p C’est en marchant que se fait le chemin
                        div(class="footer__group") 
                            p(class="footer__copyright") © 2021 Russian Re
                            a(href="#", class="footer__copyright") Правила пользования сайтом
                div(class="col-lg-6 col-md-6 col-12")
                    ul(class="footer__list") 
                        li 
                            a(href="#") О компании
                        li 
                            a(href="#") Перестрахование
                        li 
                            a(href="#") Финансы
                        li 
                            a(href="#") КОМАНДА
                        li 
                            a(href="#") РАСКРЫТИЕ ИНФОРМАЦИИ
                        li 
                            a(href="#") ДОКУМЕНТЫ
                        li 
                            a(href="#") КОНТАКТЫ
                        li 
                            a(href="#") Карта сайта
                    a(href="#", class="visually-impaired footer__btn") 
                        svg(class="visually-impaired__icon")
                            use(xlink:href="img/dist/sprite.svg#icon-eye-closed")
                        span(class="visually-impaired__text") Версия для слабовидящих
        div(class="footer__wrapper footer__wrapper--mobile")
            div(class="footer__group") 
                p(class="footer__copyright") © 2021 Russian Re
                a(href="#", class="footer__copyright") Правила пользования сайтом
            div(class="languages languages--md")
                a(href="#", class="languages__btn languages__btn--active") 
                    img(src="img/dist/sprite.svg#icon-russia", alt="Русский")
                a(href="#", class="languages__btn") 
                    img(src="img/dist/sprite.svg#icon-english", alt="Английский")