.nav-block
    .container 
        .nav-block__wrapper.top-line
            span.nav-block__title Далее
            ul.nav-block__list 
                li.nav-block__item 
                    a.nav-block__link.nav-btn(href="#") 
                        span Компания
                        svg
                            use(xlink:href="img/dist/sprite.svg#icon-arrow-right")
                li.nav-block__item 
                    a.nav-block__link.nav-btn(href="#") 
                        span ФИНАНСЫ
                        svg
                            use(xlink:href="img/dist/sprite.svg#icon-arrow-right")
                li.nav-block__item 
                    a.nav-block__link.nav-btn(href="#") 
                        span КОНТАКТЫ
                        svg
                            use(xlink:href="img/dist/sprite.svg#icon-arrow-right")