.nav-block
    .container 
        .nav-block__wrapper.top-line
            span.nav-block__title Далее
            ul.nav-block__list 
                li.nav-block__item 
                    a.nav-block__link(href="#") Компания
                li.nav-block__item 
                    a.nav-block__link(href="#") ФИНАНСЫ
                li.nav-block__item 
                    a.nav-block__link(href="#") КОНТАКТЫ