// VARIABLES SECTION
$circe: 'Circe', sans-serif; // Crce
$ebgaramond: 'EB Garamond', serif; // EB Garamond
$primary-font-size: 1.6rem; // Body font-size
$primary-line-height: 1.5; // Body line-height
$primary-color: #353535;
$white-color: #FFFFFF;
$red-color: #B01E23;
$blue-color: #2F2355;
$russia-color: #F8F7FE;
$gray-color: #7E7E7E;
$grey-color: #ADADAD;
$light-gray-color: #EDEDED;
$light-grey-color: #F5F5F5;

$primary-background-color: #FAF9F8;
$background-color: #EEECE9;
$dark-background-color: #E9E3DA;
$light-background-color: #E3D5C0;

// COMMON DOCUMENT STYLES
html {
    font-size: 62.5%;
}

body {
	position: relative;
	overflow-x: hidden;
    font-family: $circe;
    font-size: $primary-font-size;
    line-height: $primary-line-height;
    color: $primary-color;
    background: $primary-background-color;
}

ul,
ol,
li {
	display: block;
	padding: 0;
	margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
    font-family: $ebgaramond;
    font-size: 6.2rem;
    font-weight: normal;
    line-height: 1;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 5.6rem;
    }
    @media screen and (max-width: 767px) {
        font-size: 3.4rem;
    }
}

h2 {
    font-family: $ebgaramond;
    font-size: 4.8rem;
    font-weight: normal;
    line-height: 1;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 3.6rem;
    }
    @media screen and (max-width: 767px) {
        font-size: 2.4rem;
    }
}

p {
    margin: 0;
}

a {
    display: inline-block;
    color: inherit;
    transition: all 0.35s;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

blockquote {
    margin: 0;
}

img {
    max-width: 100%;
}

svg {
    transition: all 0.35s;
}

// COMMON FOR PAGE ˆ
.scroll-disabled {
    overflow: hidden;
}

.top-line {
    position: relative;
    border-top: 5px solid $red-color;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: -5px;
        left: 0;
        z-index: 1;
        width: 0;
        height: 5px;
        background: $blue-color;
        transition: all 0.4s ease-in-out;
    }
    &:hover {
        &::before {
            width: 100%;
        }
    }
    &--dark {
        border-top: 5px solid $dark-background-color;
    }
    &--no-hover {
        &:hover {
            &::before {
                width: 0;
            }
        }
    }
    &--blue {
        border-top: 5px solid $blue-color;
    }
}

.title {
    position: relative;
    padding-bottom: 35px;
    margin-bottom: 35px;
    font-family: $ebgaramond;
    font-size: 3.2rem;
    font-weight: normal;
    text-align: center;
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 40px;
        height: 2px;
        background: $primary-color;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-bottom: 27px;
        margin-bottom: 27px;
        font-size: 2.6rem;
    }
    @media screen and (max-width: 767px) {
        padding-bottom: 23px;
        margin-bottom: 23px;
        font-size: 2.2rem;
    }
}

.section-bordered {
    padding-top: 26px;
    & + .section-bordered {
        margin-top: 80px;
        border-top: 3px solid $light-background-color;

        @media screen and (max-width: 767px) {
            margin-top: 60px;
        }
    }
}

.section-bordered > h2 {
    margin-bottom: 36px;
}

.section-bordered > h2 + * {
    margin-top: 0!important;
    padding-top: 0!important;
}

.section-content + .section-content {
    margin-top: 52px;
    
    @media screen and (max-width: 1199px) {
        margin-top: 36px;
    }
}

.visually-impaired {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13.5px 20px;
    width: fit-content;
    font-size: 1.4rem;
    font-weight: bold;
    color: $grey-color;
    background: $background-color;
    &:hover {
        color: $primary-color;
        background: $dark-background-color;
        .visually-impaired__icon {
            color: $primary-color;
        }
    }
    &__icon {
        width: 22px;
        height: 9px;
        color: $grey-color;
    }
    &__text {
        margin-left: 16px;
    }
}

.languages {
    display: flex;
    align-items: center;
    padding: 8.5px 12px;
    width: fit-content;
    background: $background-color;
    transition: background 0.35s;
    &:hover {
        background: $dark-background-color;
    }
    &__btn {
        display: block;
        overflow: hidden;
        width: 29px;
        height: 19px;
        opacity: 0.2;
        &:hover {
            opacity: 1;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &--active {
            opacity: 1;
        }
    }
    &__btn + &__btn {
        margin-left: 8px;
    }

    @media screen and (max-width: 767px) {
        padding: 6px 8px;
        &--md {
            .languages__btn {
                width: 26px;
                height: 17px;
            }
        }
        &__btn {
            width: 18px;
            height: 12px;
        }
        &__btn + &__btn {
            margin-left: 4px;
        }
    }
}

.red-link {
    color: $red-color;
    &:hover {
        color: $gray-color;
    }
}

.more-btn {
    position: relative;
    display: block;
    padding: 24px 0;
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.09em;
    text-align: center;
    text-transform: uppercase;
    color: $grey-color;
    border-top: 2px solid $primary-background-color;
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 23px;
        transform: translateY(-50%);
        display: block;
        width: 14px;
        height: 14px;
        opacity: 0;
        background-image: url(../img/dist/sprite.svg#icon-arrow-right);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        transition: all 0.4s;
    }
    &:hover {
        color: $primary-color;
        background: $background-color;
        border-top: 2px solid $background-color;
        &::after {
            opacity: 1;
        }
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 16px;
    width: fit-content;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: $primary-color;
    background: $primary-background-color;
    &:hover {
        color: $white-color;
        background: $red-color;
        .btn__icon {
            color: $white-color;
        }
    }
    &--white {
        background: $white-color;
    }
    &--between {
        justify-content: space-between;
    }
    &--icon-angle {
        .btn__icon {
            margin-top: 0;
            transform: rotate(-45deg);
        }
    }
    &__icon {
        margin-top: -1px;
        margin-left: 11px;
        width: 12px;
        height: 12px;
        color: $grey-color;
    }
}

.btn[download] {
    .btn__icon {
        transform: rotate(90deg);
    }
}

.nav-btn {
    position: relative;
    display: block;
    padding: 19.5px;
    min-height: 60px;
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    background: $primary-background-color;
    transition: none;
    transition: background 0.35s;
    &--dark {
        background: $dark-background-color;
    }
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: fit-content;
        color: $primary-color;
        transition: all 0.35s;
    }
    svg {
        position: absolute;
        top: 50%;
        right: 22.5px;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;
        opacity: 0;
        color: $white-color;
    }

    @media screen and (hover: hover) {
        &:hover {
            background: $red-color;
            span {
                left: 19.5px;
                transform: translate(0, -50%);
                color: $white-color;
            }
            svg {
                opacity: 1;
            }
        }
    }
    @media screen and (max-width: 767px) {
        font-size: 1.2rem;
        text-align: center;
        span {
            max-width: 90%;
        }
    }
}

.documents-btn {
    display: flex;
    align-items: center;
    padding: 14px;
    width: fit-content;
    background: $primary-background-color;
    &:hover {
        .documents-btn {
            &__icon,
            &__name {
                color: $red-color;
            }
        }
    }

    @media screen and (max-width: 767px) {
        flex-direction: column;
        padding: 10px;
        width: 100%;
    }

    &__icon + &__name,
    &__name + &__icon {
        margin-left: 12px;

        @media screen and (max-width: 767px) {
            margin-left: 0;
        }
    }
    &__icon {
        min-width: 24px;
        min-height: 24px;
        max-width: 24px;
        max-height: 24px;
        color: $grey-color;

        @media screen and (max-width: 767px) {
            order: -1;
            margin-bottom: 8px;
        }
    }
    &__name {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        transition: color 0.35s;

        @media screen and (max-width: 767px) {
            font-size: 0.9rem;
            text-align: center;
        }
    }
}

.input {
    display: block;
    appearance: none;
    padding: 10px 0;
    width: 100%;
    font-size: 1.7rem;
    font-weight: bold;
    color: $primary-color;
    background: transparent;
    border: 0;
    border-radius: 0;
    transition: all 0.35s;
    &::placeholder {
        color: $grey-color;
    }
    &:focus {
        outline: none;
    }
}

.select {
    min-width: 330px;
    width: fit-content;

    @media screen and (max-width: 575px) {
        min-width: 100%;
        width: 100%;
    }
}

.ss-main .ss-single-selected {
    padding: 10px 15px;
    height: auto;
    font-size: 1.6rem;
    font-weight: normal;
    color: $primary-color;
    background: $background-color;
    border: none;
    border-radius: 0;
    &:hover {
        background: $dark-background-color;
    }
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        display: block;
        width: 8px;
        height: 8px;
        background-image: url(../img/dist/sprite.svg#icon-select);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        transition: transform 0.25s;
    }
    &.ss-open-below {
        &::after {
            transform: translateY(-50%) rotate(-180deg);
        }
    }
    .placeholder {
        line-height: $primary-line-height;
    }
}

.ss-main .ss-single-selected .ss-arrow {
    display: none;
}

.ss-main .ss-single-selected.ss-open-below + * {
    margin-top: 1px;
}

.ss-main .ss-single-selected.ss-open-above + * {
    transform: scale(1) translateY(-1px);
}

.ss-content .ss-search {
    display: none;
}

.ss-content {
    z-index: 99!important;
    color: $gray-color;
    background: $background-color;
    border: 0;
    border-radius: 0;
}

.ss-content .ss-list {
    padding: 7px 15px;
    max-height: 204px;
}

.ss-content .ss-list .ss-option {
    position: relative;
    padding: 7px 0;
    width: 100%;
    font-size: 1.6rem;
    font-weight: normal;
    color: $gray-color;
    transition: all 0.25s;
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -15px;
        transform: translateY(-50%);
        display: block;
        width: 4px;
        height: 16px;
        transition: background 0.25s;
    }
}

.ss-content .ss-list .ss-option.ss-disabled:not(.ss-option-selected) {
    display: none;
}

.ss-content .ss-list .ss-option.ss-disabled {
    font-weight: bold;
    color: $primary-color;
    background: none;
    cursor: pointer;
    &::before {
        background: $red-color;
    }
    &:hover {
        &::before {
            background: $red-color;
        }
    }
}

.ss-content .ss-list .ss-option:hover, .ss-content .ss-list .ss-option.ss-highlighted {
    color: $primary-color;
    background: none;
    &::before {
        background: $dark-background-color;
    }
}

.ss-arrow .arrow-down {
    width: auto;
    height: auto;
    background: none;
}

// SIMPLEBAR
.simplebar-track {
    top: 0;
    bottom: auto;
    transform: translateY(-100%);
}
.simplebar-track.simplebar-horizontal {
    height: 7px;
    background: $background-color;
    background-clip: content-box;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
    top: 0;
    height: 7px;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
    left: 0;
    right: 0;
}
.simplebar-scrollbar {
    &::before {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
        background: $light-background-color;
        border-radius: 0;
    }
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    top: 0;
    bottom: 0;
}
.simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
}