.footer {
    margin-top: 30px;
    &__wrapper {
        background: $white-color;
        border-top: 5px solid $dark-background-color;
    }
    &__up {
        padding: 15px 27px;
        margin-bottom: 25px;
        width: 100%;
        font-size: 1.4rem;
        font-weight: bold;
        color: $grey-color;
        border-bottom: 2px solid $primary-background-color;
        &::after {
            content: '';
            display: inline-block;
            margin-top: 2px;
            margin-left: 10px;
            width: 12px;
            height: 12px;
            vertical-align: middle;
            background-image: url(../img/dist/sprite.svg#icon-top);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }
    &__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 21px 30px;
        height: 100%;
        border-right: 2px solid $primary-background-color;
    }
    &__list {
        margin-top: 14px;
        & > li + li {
            margin-top: 16px;
        }
        & > li > a {
            font-size: 1.5rem;
            font-weight: bold;
            text-transform: uppercase;
            &:hover {
                color: $red-color;
            }
        }
    }
    &__quotes {
        margin-top: 20px;
        margin-left: 90px;
        & > p {
            font-family: $ebgaramond;
            font-size: 1.8rem;
            font-weight: normal;
            line-height: 172%;
            color: $light-background-color;
        }
    }
    &__group {
        display: flex;
        align-items: center;
        margin-top: 40px;
        margin-left: 90px;
    }
    &__copyright {
        font-size: 1.3rem;
        font-weight: normal;
        color: $grey-color;
    }
    &__copyright + &__copyright {
        margin-left: 23px;
    }
    &__btn {
        margin: 30px 0;
    }
}

// media
@media (max-width: 991px) {
    .footer {
        &__link {
            font-size: 1.5rem;
        }
        &__quotes {
            & > p {
                font-size: 1.5rem;
            }
        }
        &__group {
            align-items: flex-start;
            flex-direction: column;
        }
        &__copyright + &__copyright {
            margin-top: 2px;
            margin-left: 0;
        }
    }
}

@media (max-width: 767px) {
    .footer {
        &__logotype {
            max-width: 218px;
        }
        &__block {
            .footer__group {
                display: none;
            }
        }
        &__quotes {
            margin-top: 20px;
            margin-left: 10px;
            overflow-x: auto;
            & > p {
                white-space: nowrap;
                br {
                    display: none;
                }
            }
        }
        &__list {
            margin: 0 auto;
            max-width: 172px;
            width: fit-content;
        }
        &__btn {
            display: none;
        }
    }
}