.header {
    padding-top: 16px;
    &__wrapper {
        &--bottom {
            position: relative;
            padding-bottom: 8px;
            &::before {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 5px;
                background: $red-color;
            }
            &::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                display: block;
                //width: calc(100% - var(--width));
                //height: 5px;
                background: $blue-color;
            }

            @media screen and (min-width: 768px) and (max-width: 1199px) {
                padding-bottom: 14px;
            }
        }
    }
    &__logotype {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            max-width: 235px;
        }
        @media screen and (max-width: 1199px) {
            max-width: 147px;
        }
    }
    &__controls {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__title {
        font-size: 2.2rem;
        font-weight: 800;
        color: $red-color;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 1.7rem;
        }
        @media screen and (max-width: 767px) {
            font-size: 1.1rem;
        }
    }
    &__btn {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    &__languages {
        margin-left: 8px;
    }
}

.nav {
    @media screen and (max-width: 1199px) {
        display: none;
    }

    &__list {
        display: flex;
        align-items: center;
        &--hidden {
            & > li:not(:last-child) {
                transform: translateY(5px) rotateX(90deg);
                opacity: 0;
            }
        }
    }
    li {
        position: relative;
        transition: all 0.35s;
        &:hover {
            & > a {
                color: $blue-color;
            }
            .submenu {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    li + li {
        margin-left: 42px;
    }
    a {
        position: relative;
        font-size: 1.7rem;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.submenu {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    padding: 26px 12px 12px;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    max-width: 171px;
    width: max-content;
    background: $primary-background-color;
    border-bottom: 5px solid $blue-color;
    transition: all 0.35s;
    li + li {
        margin-top: 10px;
        margin-left: 0;
    }
    a {
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $gray-color;
        &:hover {
            color: $primary-color;
        }
    }
}

// search
.search {
    &__btn {
        display: block;
        padding: 0;
        background: transparent;
        border: 0;
    }
    &__icon {
        width: 23px;
        height: 23px;
        color: $primary-color;


        @media screen and (min-width: 1200px) {
            display: none;
        }
        @media screen and (max-width: 767px) {
            width: 17px;
            height: 17px;
        }
    }
}

// hamburger
.hamburger {
    position: relative;
    z-index: 100;
    display: inline-block;
    padding: 0;
    margin: 0 0 0 23px;
    min-width: 30px;
    height: 30px;
    font-size: 0;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    &:focus {
        outline: none;
    }
    &--active {
        .hamburger__inner {
            background: $primary-color;
            &:first-child {
                transform: rotate(-45deg) translate(-50%, -2px);
            }
            &:nth-child(2) {
                width: 0;
                opacity: 0;
            }
            &:last-child {
                transform: rotate(45deg) translate(-50%, 2px);
            }
        }
    }
    &__inner {
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 27px;
        height: 2px;
        background: $primary-color;
        transition: all 0.4s ease-in-out;
        &:first-child {
            top: 6px;
        }
        &:nth-child(2) {
            top: 14px;
        }
        &:last-child {
            bottom: 6px;
        }

        @media screen and (max-width: 767px) {
            width: 21px;
            &:first-child {
                top: 8px;
            }
            &:last-child {
                bottom: 8px;
            }
        }
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }
    @media screen and (max-width: 767px) {
        margin: 0 0 0 12px;
    }
}