@media (min-width: 768px) and (max-width: 1199px) {
    .main {
        &__img {
            min-height: 318px;
        }
    }
    .information {
        &__body {
            padding: 32px 17px;
        }
        &__title {
            padding-bottom: 27px;
            margin-bottom: 27px;
            font-size: 2.6rem;
        }
        &__description {
            font-size: 1.6rem;
        }
        &__img {
            max-width: 85%;
        }
    }
}

@media (max-width: 767px) {
    .main {
        &__img {
            min-height: 324px;
        }
    }
    .information {
        &__body {
            padding: 32px 17px;
        }
        &__title {
            padding-bottom: 23px;
            margin-bottom: 23px;
            font-size: 2.2rem;
        }
        &__subtitle {
            font-size: 1.8rem;
        }
        &__description {
            font-size: 1.4rem;
        }
        &__img {
            max-width: 100%;
        }
        &__inner {
            margin-top: 32px;
            &--background {
                flex-direction: column;
                .information__group {
                    padding: 14px;
                    max-width: 100%;
                    background: $background-color;
                }
                .information__group + .information__group {
                    margin-top: 6px;
                }
            }
        }
        &__progress {
            display: none;
        }
        &__text + &__text {
            margin-top: 2px;
        }
        &__btn {
            margin: 0 auto 25px;
            max-width: 85%;
        }
    }
}