.modal {
    background: rgba($primary-color, 0.9);
}

.modal-dialog {
    @media screen and (min-width: 576px) {
        max-width: 394px;
    }
    @media screen and (max-width: 575px) {
        max-width: 280px;
        margin: 0 auto;
    }
}

.modal-content {
    border: 0;
}

.modal {
    &__close {
        position: absolute;
        top: 5px;
        right: 0;
        z-index: 1;
        display: block;
        padding: 0;
        width: 39px;
        height: 39px;
        background: rgba($primary-background-color, 0.18);
        border: 0;
        &:focus {
            outline: none;
        }
        &:hover {
            .modal__close--icon {
                color: $white-color;
            }
        }
        &--icon {
            width: 14px;
            height: 14px;
            color: $grey-color;
        }
    }
    &__wrapper {
        color: $primary-color;
        background: $white-color;
        border-top: 5px solid $red-color;
    }
    &__img {
        position: relative;
        &::before {
            content: '';
            display: block;
            padding-top: (292 / 394) * 100%;
            width: 100%;
        }
        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        padding: 21px 42px 42px;
        text-align: center;
    }
    &__title {
        font-family: $ebgaramond;
        font-size: 2.8rem;
        font-weight: normal;

        @media screen and (max-width: 767px) {
            font-size: 1.8rem;
        }
    }
    &__position {
        display: block;
        margin-bottom: 16px;
        font-size: 1.4rem;
        font-weight: normal;
        color: $gray-color;

        @media screen and (max-width: 767px) {
            font-size: 1.2rem;
        }
    }
    &__link {
        display: block;
        margin: 0 auto;
        width: fit-content;
        font-size: 1.4rem;
        font-weight: normal;
        letter-spacing: 0.09em;
        color: $primary-color;
        border-bottom: 2px solid $dark-background-color;
        &:hover {
            border-bottom: 2px solid $red-color;
        }

        @media screen and (max-width: 767px) {
            font-size: 1rem;
        }
    }
    &__link + &__link {
        margin-top: 10px;

        @media screen and (max-width: 767px) {
            margin-top: 6px;
        }
    }
}