@import "config"; // Always at the beginning
@import "header";
@import "footer";
@import "modal";

// main
.main {
    margin-top: var(--height);
    &__img {
        width: 100%;
        min-height: 567px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            min-height: 318px;
        }
        @media screen and (max-width: 767px) {
            min-height: 324px;
        }
    }
}

// information
.information {
    margin-top: 32px;
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        background: $white-color;
    }
    &__body {
        display: flex;
        flex-direction: column;
        padding: 42px 31.5px 30px;
        height: 100%;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            padding: 32px 17px;
        }
        @media screen and (max-width: 767px) {
            padding: 32px 17px;
        }
    }
    &__subtitle {
        font-size: 2.6rem;
        font-weight: normal;
        text-align: center;
        b, strong {
            font-weight: bold;
        }
        
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 1.6rem;
        }
        @media screen and (max-width: 767px) {
            font-size: 1.8rem;
        }
    }
    &__description {
        min-height: 135px;
        font-size: 1.9rem;
        font-weight: normal;
        
        @media screen and (max-width: 991px) {
            min-height: auto;
        }
        @media screen and (max-width: 767px) {
            font-size: 1.4rem;
        }
    }
    &__img {
        display: block;
        margin: 42px auto 0;
        max-width: 356px;
        width: 100%;
        
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            max-width: 85%;
        }
        @media screen and (max-width: 767px) {
            max-width: 100%;
        }
    }
    &__content {
        display: flex;
        align-items: center;
        flex: 1 1;
        margin-top: 10px;

        @media screen and (max-width: 991px) {
            padding-top: 32px;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        @media screen and (max-width: 767px) {
            &--background {
                flex-direction: column;
                .information__group {
                    padding: 14px;
                    max-width: 100%;
                    background: $background-color;
                }
                .information__group + .information__group {
                    margin-top: 6px;
                }
            }
        }
    }
    &__group {
        max-width: 32%;
        width: 100%;
        text-align: center;
    }
    &__group + &__group {
        margin-left: 2%;

        @media screen and (max-width: 767px) {
            margin-left: 0;
        }
    }
    &__progress {
        position: relative;
        display: flex;
        align-items: flex-end;
        margin: 0 auto 18px;
        width: 48px;
        height: 114px;
        &--value {
            width: 100%;
            background: $background-color;
        }

        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    &__text {
        display: block;
        font-size: 1.6rem;
        font-weight: normal;
        b, strong {
            font-weight: bold;
        }

        @media screen and (max-width: 767px) {
            font-size: 1.2rem;
            b, strong {
                font-size: 1.4rem;
            }
        }
    }
    &__text + &__text {
        @media screen and (max-width: 767px) {
            margin-top: 2px;
        }
    }
    &__btn {
        margin: 0 auto 30px;

        @media screen and (max-width: 767px) {
            margin: 0 auto 25px;
            max-width: calc(100% - 34px);
        }
    }
}

// maps
.maps {
    margin-top: 20px;
    &__wrapper {
        padding: 24px 0 70px;
        background: $white-color;
    }
    &__img {
        margin: 90px auto 0;
        width: 90%;
    }
}

.marquee {
    margin: 35px 0;

    @media screen and (max-width: 767px) {
        display: none;
    }

    &__wrapper {
        position: relative;
        overflow: hidden;
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            display: block;
            width: 224px;
            height: 62px;
        }
        &::before {
            left: 0;
            background: linear-gradient(to right, #FAF9F8 2.43%, rgba(250, 249, 248, 0) 96.46%);
        }
        &::after {
            right: 0;
            background: linear-gradient(to left, #FAF9F8 2.43%, rgba(250, 249, 248, 0) 96.46%);
        }
    }
    &__description {
        font-family: $ebgaramond;
        font-size: 18px;
        font-weight: normal;
        color: $gray-color;
        span {
            display: inline-block;
        }
        span + span {
            margin-left: 36px;
        }
    }
}

// ads
.ads {
    @media screen and (max-width: 767px) {
        margin-top: 25px;
    }

    &__wrapper {
        padding-top: 24px;
        background: $white-color;
    }
    &__slider {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -24px;
            transform: translateY(-50%);
            z-index: 2;
            display: block;
            width: 130px;
            height: 100%;
            opacity: 0;
            background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 33.85%, rgba(255, 255, 255, 0) 100%);
            transition: opacity 0.3s;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            z-index: 1;
            display: block;
            width: 130px;
            height: 100%;
            background: linear-gradient(to left, #FFFFFF 0%, #FFFFFF 33.85%, rgba(255, 255, 255, 0) 100%);
        }
        &--before {
            &::before {
                opacity: 1;
            }
        }

        .swiper-slide {
            width: 70%;
        }
        .swiper-button-next {
            position: absolute;
            top: 50%;
            right: 8px;
            z-index: 20;
            transform: translateY(-50%);
            transition: opacity 0.3s;
            &:focus {
                outline: none;
            }
            &:focus,
            &:hover {
                svg {
                    color: $primary-color;
                }
            }
            svg {
                width: 16px;
                height: 16px;
                color: $grey-color;
            }
        }
        .swiper-button-prev {
            position: absolute;
            top: 50%;
            left: 8px;
            z-index: 20;
            transform: translateY(-50%) rotate(180deg);
            transition: opacity 0.3s;
            &:focus {
                outline: none;
            }
            &:focus,
            &:hover {
                svg {
                    color: $primary-color;
                }
            }
            svg {
                width: 16px;
                height: 16px;
                color: $grey-color;
            }
        }
        .swiper-button-disabled {
            opacity: 0;
        }

        @media screen and (min-width: 1200px) {
            margin-left: 24px;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            &::before,
            &::after {
                width: 100px;
            }
        }
        @media screen and (max-width: 767px) {
            &::before,
            &::after {
                width: 67px;
            }
        }
    }
    &__item {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: normal;
        span {
            color: $grey-color;
        }
        a {
            margin-left: 6px;
            color: $primary-color;
            &:hover {
                color: $red-color;
            }
        }

        @media screen and (max-width: 1199px) {
            flex-direction: column;
            text-align: center;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 16px;
        }
        @media screen and (max-width: 767px) {
            font-size: 14px;
        }
    }
    &__more {
        margin-top: 40px;
    }
}