@import "config"; // Always at the beginning
@import "header";
@import "footer";
@import "modal";

// wrapper
.wrapper {
    margin-top: var(--height);
}

// content
.content {
    font-size: 17px;
    color: $primary-color;

    @media screen and (max-width: 1199px) {
        font-size: 15px;
    }

    & > * {
        margin-bottom: 1em;
        &:last-child {
            margin-bottom: 0;
        }
    }
    p {
        text-align: justify;
    }
    h1, h2, h3, h4, h5, h6 {
        &:not(:first-child) {
            margin-top: 2em;
        }
        margin-bottom: 1em;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-family: $circe;
        font-size: 1.3em;
        font-weight: bold;
    }
    h3, h4, h5, h6 {
        margin-bottom: 10px;
        font-size: 1em;
    }
    .image-block, .documents, .table-indicators, blockquote {
        margin: 2em 0;
    }
    blockquote {
        padding: 35px 40px;
        font-family: $ebgaramond;
        font-size: 2em;
        font-weight: normal;
        border-left: 10px solid $red-color;

        @media screen and (max-width: 767px) {
            padding: 10px 20px;
            font-size: 1.3em;
            border-left: 6px solid $red-color;
        }
    }
    img, iframe {
        max-width: 677px;
        width: 100%;
    }
    iframe {
        min-height: 388px;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            min-height: 340px;
        }
        @media screen and (max-width: 767px) {
            min-height: 200px;
        }
    }
    span:not([class]) {
        display: block;
        color: $gray-color;
    }
    a:not([class]) {
        color: $blue-color;
        &:hover {
            color: $red-color;
        }
    }
}

.content-link {
    font-weight: bold;
    opacity: 0.5;
    color: $primary-color!important;
    &:hover {
        opacity: 1;
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: '';
        display: inline-block;
        margin-left: 2px;
        width: 12px;
        height: 12px;
        opacity: 0.8;
        vertical-align: middle;
        background-image: url(../img/dist/sprite.svg#icon-arrow-more);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        transform: rotate(-45deg);
        transition: opacity 0.4s;
    }
}

.image-block {
    img {
        margin-bottom: 0.5em;
    }
}

.heading-title {
    @media screen and (max-width: 767px) {
        font-size: 2.8rem;
    }
}

// heading
.heading {
    padding-top: 20px;
    &--center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: calc(100vh - var(--height));
    }
    h1 {
        padding-top: 12px;
    }
    &__link {
        font-size: 16px;
        font-weight: normal;
        text-decoration: underline;
        color: $gray-color;
    }
    &__content {
        margin-top: 28px;
        max-width: 990px;
        width: 100%;
        font-size: 24px;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 18px;
        }
        @media screen and (max-width: 767px) {
            margin-top: 25px;
            font-size: 16px;
        }
    }
}

.heading-text {
    font-size: 24px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 18px;
    }
    @media screen and (max-width: 767px) {
        font-size: 16px;
    }
}

// main
.main {
    &__img {
        width: 100%;
        min-height: 567px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            min-height: 318px;
        }
        @media screen and (max-width: 767px) {
            min-height: 324px;
        }
    }
}

// information
.information {
    margin-top: 32px;
    &--mt {
        margin-top: 56px;

        @media screen and (max-width: 1199px) {
            margin-top: 44px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        background: $white-color;
    }
    &__body {
        display: flex;
        flex-direction: column;
        padding: 36px 31.5px 30px;
        height: 100%;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            padding: 32px 17px;
        }
        @media screen and (max-width: 767px) {
            padding: 32px 17px;
        }
    }
    &__help {
        display: block;
        margin-bottom: 20px;
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        color: $grey-color;

        @media screen and (max-width: 767px) {
            font-size: 1.2rem;
        }
    }
    &__heading {
        font-family: $circe;
        font-size: 3.2rem;
        font-weight: bold;
        text-align: center;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 2.6rem;
        }
        @media screen and (max-width: 767px) {
            font-size: 2.2rem;
        }
    }
    &__title {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-right: auto;
            margin-left: auto;
            max-width: 278px;
            width: 100%;
        }
    }
    &__subtitle {
        font-size: 2.6rem;
        font-weight: normal;
        text-align: center;
        b, strong {
            font-weight: bold;
        }
        
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 1.6rem;
        }
        @media screen and (max-width: 767px) {
            font-size: 1.8rem;
        }
    }
    &__description {
        min-height: 135px;
        font-size: 1.9rem;
        font-weight: normal;
        text-align: justify;
        
        @media screen and (max-width: 991px) {
            min-height: auto;
        }
        @media screen and (max-width: 767px) {
            font-size: 1.4rem;
        }
    }
    &__description + &__img {
        margin: 42px auto 0;
    }
    &__img {
        display: block;
        margin: 0 auto;
        max-width: 356px;
        width: 100%;
        
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            max-width: 85%;
        }
        @media screen and (max-width: 767px) {
            max-width: 100%;
        }
    }
    &__content {
        display: flex;
        align-items: center;
        flex: 1 1;
        margin-top: 10px;

        @media screen and (max-width: 991px) {
            padding-top: 32px;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        @media screen and (max-width: 767px) {
            &--background {
                flex-direction: column;
                .information__group {
                    padding: 14px;
                    max-width: 100%;
                    background: $background-color;
                }
                .information__group + .information__group {
                    margin-top: 6px;
                }
            }
        }
    }
    &__group {
        max-width: 32%;
        width: 100%;
        text-align: center;
    }
    &__group + &__group {
        margin-left: 2%;

        @media screen and (max-width: 767px) {
            margin-left: 0;
        }
    }
    &__progress {
        position: relative;
        display: flex;
        align-items: flex-end;
        margin: 0 auto 18px;
        width: 48px;
        height: 114px;
        &--value {
            width: 100%;
            background: $background-color;
        }

        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    &__text {
        display: block;
        font-size: 1.6rem;
        font-weight: normal;
        b, strong {
            font-weight: bold;
        }

        @media screen and (max-width: 767px) {
            font-size: 1.2rem;
            b, strong {
                font-size: 1.4rem;
            }
        }
    }
    &__text + &__text {
        @media screen and (max-width: 767px) {
            margin-top: 2px;
        }
    }
    &__btn {
        margin: 0 auto 30px;

        @media screen and (max-width: 767px) {
            margin: 0 auto 25px;
            max-width: calc(100% - 34px);
        }
    }
}

// maps
.t-map {
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        padding-bottom: 20px;
    }

    &__groups {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        & > .t-group-item {
            margin: 0 25px 18px;
        }
        @media screen and (max-width: 767px) {
            & > .t-group-item {
                margin: 0 0 11px 0;
            }
        }
    }
    &__main {
        margin-top: 60px;
        width: 100%;
        height: 500px;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-top: 30px;
            height: 330px;
        }
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
}
  
.t-group-item {
    position: relative;

    @media screen and (max-width: 767px) {
        width: 100%;
    }

    &__label {
        display: inline-flex;
        align-items: center;
        font-size: 1.7rem;
        font-weight: normal;
        color: $grey-color;
        cursor: pointer;

        @media screen and (max-width: 767px) {
            align-items: flex-start;
            font-size: 1.5rem;
            width: 100%;
        }
    }
    &__mark {
        flex-shrink: 0;
        margin-top: -2px;
        margin-right: 11px;
        height: 22px;

        @media screen and (min-width: 768px) {
            width: 22px!important;
        }
        @media screen and (max-width: 767px) {
            margin-top: 3px;
            margin-left: auto;
            height: 14px;
        }
    }
    &__title {
        @media screen and (max-width: 767px) {
            width: 50%;
        }
    }
    &__dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        width: 264px;
        z-index: 1;
        display: none;

        @media screen and (hover: hover) {
            .t-group-item:hover & {
                display: block !important;
            }
        }
        @media screen and (max-width: 767px) {
            position: static;
            width: 100%;
        }
    }
}

.t-group-dropdown {
    padding: 8px 10px;
    background: $primary-background-color;
    border-top: 3px solid $light-background-color;

    @media screen and (max-width: 767px) {
        padding: 30px 4px;
        background: transparent;
        border-top: none;
    }

    &__name {
        display: block;
        margin-bottom: 18px;
        font-family: $ebgaramond;
        font-size: 1.4rem;
        font-weight: normal;

        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__inner + &__inner {
        margin-top: 10px;
    }
    &__text {
        display: block;
        font-size: 1.3rem;
        font-weight: normal;
        color: $gray-color;
    }
    &__contries {
        margin-top: 24px;
        font-size: 1.4rem;
        font-weight: normal;
    }
}
  
.tooltip-dropdown-wrapper {
    .t-group-dropdown {
        display: block !important;
        position: relative !important;
        top: auto !important;
        left: auto !important;
    }
}

// marquee
.marquee {
    margin: 35px 0;

    @media screen and (max-width: 767px) {
        display: none;
    }

    &__wrapper {
        position: relative;
        overflow: hidden;
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            display: block;
            width: 224px;
            height: 62px;
        }
        &::before {
            left: 0;
            background: linear-gradient(to right, #FAF9F8 2.43%, rgba(250, 249, 248, 0) 96.46%);
        }
        &::after {
            right: 0;
            background: linear-gradient(to left, #FAF9F8 2.43%, rgba(250, 249, 248, 0) 96.46%);
        }
    }
    &__description {
        font-family: $ebgaramond;
        font-size: 1.8rem;
        font-weight: normal;
        color: $gray-color;
        span {
            display: inline-block;
        }
        span + span {
            margin-left: 36px;
        }
    }
}

// ads
.ads {
    @media screen and (max-width: 767px) {
        margin-top: 25px;
    }

    &__wrapper {
        padding-top: 24px;
        background: $white-color;
    }
    &__slider {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -24px;
            transform: translateY(-50%);
            z-index: 2;
            display: block;
            width: 130px;
            height: 100%;
            opacity: 0;
            background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 33.85%, rgba(255, 255, 255, 0) 100%);
            transition: opacity 0.3s;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            z-index: 1;
            display: block;
            width: 130px;
            height: 100%;
            background: linear-gradient(to left, #FFFFFF 0%, #FFFFFF 33.85%, rgba(255, 255, 255, 0) 100%);
        }
        &--before {
            &::before {
                opacity: 1;
            }
        }

        .swiper-slide {
            width: 70%;
        }
        .swiper-slide + .swiper-slide {
            .ads__item {
                justify-content: center;
            }
        }
        .swiper-button-next {
            position: absolute;
            top: 50%;
            right: 8px;
            z-index: 20;
            transform: translateY(-50%);
            transition: opacity 0.3s;
            &:focus {
                outline: none;
            }
            &:focus,
            &:hover {
                svg {
                    color: $primary-color;
                }
            }
            svg {
                width: 16px;
                height: 16px;
                color: $grey-color;
            }
        }
        .swiper-button-prev {
            position: absolute;
            top: 50%;
            left: -16px;
            z-index: 20;
            transform: translateY(-50%) rotate(180deg);
            transition: opacity 0.3s;
            &:focus {
                outline: none;
            }
            &:focus,
            &:hover {
                svg {
                    color: $primary-color;
                }
            }
            svg {
                width: 16px;
                height: 16px;
                color: $grey-color;
            }
        }
        .swiper-button-disabled {
            opacity: 0;
        }

        @media screen and (min-width: 1200px) {
            margin-left: 24px;
        }
        @media screen and (max-width: 1199px) {
            .swiper-button-prev {
                left: 8px;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            &::before,
            &::after {
                width: 100px;
            }
        }
        @media screen and (max-width: 767px) {
            &::before,
            &::after {
                width: 67px;
            }
        }
    }
    &__item {
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        font-weight: normal;
        span {
            color: $grey-color;
        }
        a {
            margin-left: 6px;
            color: $primary-color;
            &:hover {
                color: $red-color;
            }
        }

        @media screen and (max-width: 1199px) {
            flex-direction: column;
            text-align: center;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 1.6rem;
        }
        @media screen and (max-width: 767px) {
            font-size: 1.4rem;
        }
    }
    &__more {
        margin-top: 40px;
    }
}

.ads-list {
    margin-top: 60px;

    @media screen and (max-width: 767px) {
        margin-top: 30px;
    }

    &__item {
        display: flex;
        padding: 26px 32px;
        background: $white-color;
        border-top: 5px solid $dark-background-color;
        transition: all 0.4s;
        &:hover {
            border-top: 5px solid $light-background-color;
        }

        @media screen and (max-width: 767px) {
            padding: 16px 20px 30px;
        }
    }
    &__item + &__item {
        margin-top: 25px;

        @media screen and (max-width: 767px) {
            margin-top: 17px;
        }
    }
    &__date {
        display: block;
        font-family: $ebgaramond;
        font-size: 1.8rem;
        font-weight: normal;
        color: $grey-color;
        
        @media screen and (min-width: 1200px) {
            width: 25%;
            &--mobile {
                display: none;
            }
        }
        @media screen and (max-width: 1199px) {
            margin-top: 2px;
            &:not(.ads-list__date--mobile) {
                display: none;
            }
        }
        @media screen and (max-width: 767px) {
            font-size: 1.6rem;
        }
    }
    &__body {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 75%;

        @media screen and (max-width: 1199px) {
            width: 100%;
        }
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }
    &__group {
        max-width: 932px;
    }
    &__title {
        font-family: $ebgaramond;
        font-size: 2.2rem;
        font-weight: normal;
        color: $primary-color;
        &:hover {
            color: $red-color;
        }

        @media screen and (max-width: 767px) {
            font-size: 2rem;
        }
    }
    &__content {
        margin-top: 16px;
    }
    &__img {
        margin-left: 55px;
        max-width: 207px;
        min-width: 207px;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-left: 77px;
        }
        @media screen and (max-width: 767px) {
            margin: -16px -20px 16px;
            max-width: none;
            min-width: 100%;
            order: -1;
        }
    }
    &__more {
        position: relative;
        margin-top: 90px;
        padding-bottom: 8px;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.09em;
        color: $primary-color;
        border-bottom: 2px solid $light-background-color;
        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: -2px;
            left: 0;
            z-index: 1;
            height: 2px;
            width: 0;
            background: $red-color;
            transition: all 0.4s;
        }
        &:hover {
            &::before {
                width: 100%;
            }
        }

        @media screen and (max-width: 767px) {
            margin-top: 50px;
            font-size: 1.4rem;
        }
    }
}

.ads-main {
    padding-bottom: 20px;
    &--img {
        margin-bottom: -200px;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-bottom: -150px;
        }
        @media screen and (max-width: 767px) {
            margin-bottom: -40px;
        }

        .ads-main {
            &__body {
                transform: translateY(-200px);
                max-width: 1024px;
                min-height: 300px;
                border-top: 5px solid $light-background-color;

                @media screen and (max-width: 1199px) {
                    max-width: 90%
                }
                @media screen and (min-width: 768px) and (max-width: 1199px) {
                    transform: translateY(-150px);
                    min-height: 280px;
                }
                @media screen and (max-width: 767px) {
                    transform: translateY(-40px);
                    padding-right: 12px;
                    min-height: auto;
                }
            }
        }
    }
    &__img {
        width: 100%;
        min-height: 100%;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__body {
        position: relative;
        z-index: 1;
        padding-right: 34px;
        padding-bottom: 20px;
        width: 100%;
        background: $primary-background-color;
    }
}

// site map
.site-map {
    margin-top: 48px;
    margin-bottom: 200px;
    &__list {
        li > ul {
            padding-left: 16px;
            a {
                padding: 4px 0;
                color: $gray-color;
                &::before {
                    content: '';
                    display: inline-block;
                    margin-top: -4px;
                    margin-right: 14px;
                    width: 4px;
                    height: 4px;
                    vertical-align: middle;
                    background: $gray-color;
                    border-radius: 50%;
                }
            }

            @media screen and (max-width: 767px) {
                padding-left: 12px;
                a {
                    padding: 2px 0;
                    &::before {
                        margin-right: 8px;
                    }
                }
            }
        }
        a {
            padding: 6px 0;
            font-size: 2.4rem;
            font-weight: normal;
            &:hover {
                color: $red-color;
            }

            @media screen and (max-width: 767px) {
                padding: 4px 0;
                font-size: 1.7rem;
            }
        }
    }
}

// anchors
.anchors {
    position: sticky;
    top: var(--height);
    z-index: 100;
    margin-top: 60px;
    padding-top: 14px;
    background: $primary-background-color;

    @media screen and (max-width: 767px) {
        margin-top: 20px;
    }

    &__list {
        position: relative;
        display: flex;
        align-items: center;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 2px;
            background: $background-color;
        }

        @media screen and (hover: hover) {
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
                display: block;
                width: calc(var(--width) - 20px);
                height: 2px;
                background: $light-background-color;
                transition: all 0.4s;
            
                @media screen and (min-width: 768px) and (max-width: 1199px) {
                    width: calc(var(--width) - 35px);
                }
                @media screen and (max-width: 767px) {
                    width: calc(var(--width) - 15px);
                }
            }
        }
        @media screen and (max-width: 1199px) {
            margin: 0 -10px;
            padding: 0 10px;
            overflow-x: auto;
            overflow-y: hidden;
            &::-webkit-scrollbar {
                -webkit-appearance: none;
                width: 0;
                height: 0;
            }
        }
    }
    &__item {
        &:first-child {
            .anchors__link {
                padding-right: 20px;

                @media screen and (min-width: 768px) and (max-width: 1199px) {
                    padding-right: 35px;
                }
                @media screen and (max-width: 767px) {
                    padding-right: 15px;
                }
            }
        }
    }
    &__item + &__item {
        .anchors__link {
            padding-right: 20px;
            padding-left: 20px;

            @media screen and (min-width: 768px) and (max-width: 1199px) {
                padding-right: 35px;
                padding-left: 35px;
            }
            @media screen and (max-width: 767px) {
                padding-right: 15px;
                padding-left: 15px;
            }
        }
    }
    &__link {
        position: relative;
        padding-bottom: 6px;
        font-size: 1.7rem;
        font-weight: normal;
        white-space: nowrap;
        color: $grey-color;
        border-bottom: 2px solid $background-color;
        &:hover {
            color: $primary-color;
        }
        &::before {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            z-index: 2;
            display: block;
            width: calc(100% - 20px);
            height: 2px;
            background: transparent;
            transition: background 0.35s;
            
            @media screen and (min-width: 768px) and (max-width: 1199px) {
                width: calc(100% - 35px);
            }
            @media screen and (max-width: 767px) {
                width: calc(100% - 15px);
            }
        }
        &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            z-index: 2;
            display: block;
            width: 100%;
            height: 2px;
            background: transparent;
            transition: background 0.35s;
        }
        b {
            font-weight: bold;
            text-transform: uppercase;
        }
        &.prev-active {
            &::after {
                background: $blue-color;
            }
        }
        &.active {
            color: $blue-color;
            &::before {
                background: $blue-color;
            }
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 1.5rem;
        }
        @media screen and (max-width: 767px) {
            font-size: 1.2rem;
        }
    }
}

// about
.about {
    margin-top: 20px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 7px;
    }
    @media screen and (max-width: 767px) {
        margin-top: 0;
    }

    &__content {
        margin-top: 36px;

        @media screen and (max-width: 1199px) {
            margin-top: 26px;
        }
    }
}

// shareholders
.shareholders {
    margin-top: 100px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 54px;
    }
    @media screen and (max-width: 767px) {
        margin-top: 40px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 25px;
        min-height: 379px;
        background: $background-color;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            min-height: 237px;
        }
        @media screen and (max-width: 767px) {
            width: 100%!important;
            min-height: 113px;
        }
    }
    &__item + &__item {
        @media screen and (min-width: 768px) {
            margin-left: 16px;
        }
        @media screen and (max-width: 767px) {
            margin-top: 10px;
        }
    }
    &__value {
        display: block;
        font-size: 2.2rem;
        font-weight: bold;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 1.8rem;
        }
        @media screen and (max-width: 767px) {
            font-size: 1.4rem;
        }
    }
    &__description {
        padding-top: 10px;
        max-width: 250px;
        font-size: 2.2rem;
        font-weight: normal;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 1.5rem;
        }
        @media screen and (max-width: 767px) {
            font-size: 1.4rem;
        }
    }
    &__btn {
        margin-top: 40px;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-top: 56px;
        }
    }
}

// structure
.structure {
    margin-top: 67px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 54px;
    }
    @media screen and (max-width: 1199px) {
        margin-top: 32px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        &--hover {
            .structure__item {
                opacity: 0.55;
            }
        }
        & > .structure__item + .structure__item {
            &::before {
                content: '';
                position: absolute;
                top: -10px;
                left: 50%;
                transform: translateX(-50%);
                display: block;
                width: 2px;
                height: 10px;
                background: $light-background-color;

                @media screen and (max-width: 767px) {
                    width: 1px;
                }
            }
        }
    }
    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        padding: 23.5px;
        width: 100%;
        font-size: 1.7rem;
        font-weight: normal;
        text-align: center;
        background: $background-color;
        &:hover {
            opacity: 1!important;
        }
        &--dark {
            background: $dark-background-color;
        }
        &--light {
            background: $light-background-color;
        }

        @media screen and (max-width: 1199px) {
            padding: 15px;
        }
        @media screen and (max-width: 767px) {
            margin-bottom: 7px;
        }
    }
    &__columns {
        display: flex;
        width: 100%;

        @media screen and (min-width: 768px) {
            padding-left: 60px;
        }
        @media screen and (max-width: 767px) {
            width: calc(100% + 2px);
            margin-right: -2px;
        }
    }
    &__column {
        width: calc(16.666667% - 10px);
        margin-left: 10px;

        @media screen and (max-width: 767px) {
            width: calc(16.666667% - 2px);
            margin-left: 2px;
        }

        &:first-child {
            @media screen and (min-width: 768px) {
                & > .structure__item {
                    &::before {
                        top: 50%;
                        left: -5px;
                        transform: translate(-50%, -50%) rotate(90deg);
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: -10px;
                        left: -12px;
                        display: block;
                        width: 2px;
                        height: calc(100% + 10px);
                        background: $light-background-color;
                    }
                    &:last-child {
                        &::after {
                            height: calc(50% + 11.5px);
                        }
                    }
                }
            }
            @media screen and (max-width: 767px) {
                margin-left: 0;
            }
        }
        
        & > .structure__item {
            min-height: 147px;
            &::before {
                content: '';
                position: absolute;
                top: -10px;
                left: 50%;
                transform: translateX(-50%);
                display: block;
                width: 2px;
                height: 10px;
                background: $light-background-color;
            }

            @media screen and (min-width: 768px) and (max-width: 1199px) {
                min-height: 57px;
            }
            @media screen and (max-width: 767px) {
                padding: 1.5px 5px;
                min-height: 44px;
                &::before {
                    width: 1px;
                }
            }
        }
    }
    &__name {
        display: block;
        font-size: 1.7rem;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 1.2rem;
        }
        @media screen and (max-width: 1199px) {
            font-size: 0.6rem;
        }
    }
}

// nav block
.nav-block {
    margin-top: 96px;
    &__wrapper {
        background: $white-color;
    }
    &__title {
        display: block;
        padding: 40px;
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        color: $grey-color;

        @media screen and (max-width: 991px) {
            padding: 30px;
        }
        @media screen and (max-width: 767px) {
            font-size: 1.2rem;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 46px 40px;
        border-top: 2px solid $primary-background-color;

        @media screen and (min-width: 768px) and (max-width: 991px) {
            padding: 24px 20px;
        }
        @media screen and (max-width: 767px) {
            flex-direction: column;
            padding: 20px 10px;
            font-size: 1.2rem;
        }
    }
    &__item {
        width: 100%;
    }
    &__item + &__item {
        @media screen and (min-width: 768px) {
            margin-left: 36px;
        }
        @media screen and (max-width: 767px) {
            margin-top: 10px;
        }
    }
}

// articles
.articles {
    &--mt {
        margin-top: 34px;

        @media screen and (max-width: 767px) {
            margin-top: 10px;
        }
    }
    &__wrapper {
        &--line {
            border-top: 3px solid $background-color;
        }
    }
    &__item {
        padding-top: 16px;

        @media screen and (min-width: 768px) {
            display: flex;
        }
    }
    &__item + &__item {
        margin-top: 56px;
        border-top: 1px solid $background-color;
    }
    &__left {
        @media screen and (min-width: 768px) {
            padding-right: 20px;
            width: 35%;
        }
    }
    &__right {
        &--border {
            padding-top: 12px;
        }

        @media screen and (min-width: 768px) {
            width: 65%;
            &--border {
                border-top: 3px solid $background-color;
            }
        }
        @media screen and (max-width: 767px) {
            margin-top: 16px;
        }
    }
    &__title {
        font-size: 2.2rem;
        font-weight: bold;
        &--sm {
            font-size: 1.7rem;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 1.8rem;
            &--sm {
                font-size: 1.5rem;
            }
        }
        @media screen and (max-width: 767px) {
            font-size: 1.4rem;
        }
    }
}

.articles-nav {
    position: sticky;
    top: calc(var(--height) + 10px);
    padding: 22px;
    background: $white-color;
    border-top: 3px solid $background-color;

    @media screen and (max-width: 767px) {
        position: static;
        padding: 22px 12px;
    }

    &__block + &__block {
        margin-top: 22px;
        padding-top: 22px;
        border-top: 3px solid $primary-background-color;
    }
    &__link {
        position: relative;
        padding: 3px 0;
        width: 100%;
        font-size: 1.7rem;
        font-weight: normal;
        color: $gray-color;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -22px;
            transform: translateY(-50%);
            display: block;
            width: 3px;
            height: calc(100% - 10px);
            transition: background 0.4s;
        }
        &:hover {
            color: $primary-color;
            &::before {
                background: $dark-background-color;
            }
        }
        &.active {
            color: $red-color;
            &::before {
                background: $red-color;
            }
        }
        &--main {
            font-weight: bold;
            color: $primary-color;
        }
    }
}

// accordions
.accordions {
    margin-top: 50px;
    &__item + &__item {
        margin-top: 25px;

        @media screen and (max-width: 767px) {
            margin-top: 17px;
        }
    }
    &__trigger {
        position: relative;
        display: block;
        padding: 32px;
        width: 100%;
        font-family: $ebgaramond;
        font-size: 2.2rem;
        font-weight: normal;
        text-align: left;
        color: $primary-color;
        background: $white-color;
        border: 0;
        border-top: 5px solid $dark-background-color;
        border-radius: 0;
        transition: border 0.4s;
        &:focus {
            outline: none;
        }
        &:hover,
        &:focus {
            border-top: 5px solid $light-background-color;
        }
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            right: 32px;
            transform: translateY(-50%);
            display: block;
            width: 14px;
            height: 14px;
            background-image: url(../img/dist/sprite.svg#icon-arrow-accordion);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            transition: transform 0.4s;
        }
        &--active {
            &::before {
                transform: translateY(-50%) rotate(-180deg);
            }
        }

        @media screen and (min-width: 768px) and (max-width: 991px) {
            padding: 25px;
            &::before {
                right: 25px;
            }
        }
        @media screen and (max-width: 767px) {
            padding: 16px 12px;
            font-size: 1.4rem;
            &::before {
                right: 12px;
                width: 10px;
                height: 10px;
            }
        }
    }
    &__wrap {
        position: relative;
        display: none;
        padding: 0 32px 32px;
        background: $white-color;

        @media screen and (min-width: 768px) and (max-width: 991px) {
            padding: 0 25px 25px;
        }
        @media screen and (max-width: 767px) {
            padding: 0 12px 12px;
        }
    }
    &__content {
        color: $gray-color;

        @media screen and (max-width: 767px) {
            font-size: 12px;
        }
    }
}

// finance
.finance {
    &__title {
        margin: 50px 0 16px;
    }
}

// table indicators
.table-indicators {
    display: flex;
    &__column {
        max-width: 470px;
        width: 100%;
        border-collapse: collapse;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            max-width: 233px;
        }
        @media screen and (max-width: 767px) {
            max-width: 134px;
        }
    }
    &__elem {
        padding: 10px;
        min-width: 80px;
        font-size: 1.7rem;
        line-height: 1;
        background: $white-color;
        border-top: 3px solid $primary-background-color;
        b, strong {
            font-weight: bold;
        }

        @media screen and (max-width: 767px) {
            font-size: 1.2rem;
        }
    }
    &__scroll {
        max-width: calc(100% - 470px);
        width: 100%;
        border-left: 3px solid $primary-background-color;
        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 0;
            height: 0;
        }

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            max-width: calc(100% - 233px);
        }
        @media screen and (max-width: 767px) {
            max-width: calc(100% - 134px);
        }
    }
    &__table {
        table-layout: fixed;
        border-collapse: collapse;
        min-width: 100%;
        width: available;
        thead td {
            font-weight: bold;
        }
    }
    &__row {
        td + td {
            border-left: 3px solid $primary-background-color;
        }
    }
}

// documents
.documents {
    margin-top: 32px;
    &--white {
        .documents__item {
            background: $white-color;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 11px 100px 11px 11px;
        background: $primary-background-color;
        &:hover {
            .documents {
                &__icon,
                &__name {
                    color: $red-color;
                }
            }
        }

        @media screen and (min-width: 1200px) {
            padding: 11px 100px 11px 11px;
        }
        @media screen and (max-width: 1199px) {
            flex-wrap: wrap;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            padding: 11px;
        }
        @media screen and (max-width: 767px) {
            padding: 20px 10px;
        }
    }
    &__item + &__item {
        margin-top: 12px;
    }
    &__group {
        display: flex;
        align-items: center;
        max-width: 100%;
        width: 100%;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            max-width: calc(100% - 244px);
        }
    }
    &__icon {
        margin-top: -2px;
        margin-right: 9px;
        min-width: 32px;
        min-height: 32px;
        max-width: 32px;
        max-height: 32px;
        color: $gray-color;
    }
    &__name {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        transition: all 0.35s;

        @media screen and (max-width: 1199px) {
            font-size: 1.4rem;
        }
    }
    &__text {
        display: block;
        overflow: hidden;
        width: 100%;
        font-size: 1.4rem;
        font-weight: normal;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $gray-color;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 1.3rem;
            text-align: right;
        }
        @media screen and (min-width: 768px) {
            max-width: 244px;
        }
        @media screen and (max-width: 767px) {
            margin-top: 16px;
            font-size: 1.2rem;
        }
    }
    &__text + &__text {
        @media screen and (min-width: 1200px) {
            margin-left: 100px;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-left: auto;
        }
        @media screen and (max-width: 767px) {
            margin-top: 8px;
        }
    }
    &__btn {
        margin-top: 37px;

        @media screen and (min-width: 1024px) {
            max-width: 562px;
        }
    }
}

// team
.team {
    margin-top: 20px;
    &--mt {
        margin-top: 50px;
    }
    &__title {
        margin-bottom: 30px;
        font-family: $ebgaramond;
        font-size: 3.2rem;
        font-weight: normal;

        @media screen and (max-width: 767px) {
            font-size: 2.4rem;
        }
    }
    &__subtitle {
        margin-bottom: 20px;
        font-size: 2.2rem;
        font-weight: bold;

        @media screen and (max-width: 767px) {
            font-size: 1.8rem;
        }
    }
    &__select {
        margin-bottom: 30px;
    }
    &__list + &__list {
        margin-top: 30px;
    }
    &__item {
        position: relative;
        display: block;
        border-top: 5px solid $dark-background-color;
        &::before {
            content: '';
            position: absolute;
            top: -5px;
            right: 0;
            left: 0;
            z-index: 1;
            display: block;
            width: 0;
            height: 5px;
            background: $red-color;
            transition: all 0.4s;
        }
        &:hover {
            &::before {
                width: 100%;
            }
            .team__body {
                background: $background-color;
            }
        }
    }
    &__img {
        position: relative;
        &::before {
            content: '';
            display: block;
            padding-top: (256 / 331) * 100%;
            width: 100%;
        }
        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            object-fit: cover;
        }
    }
    &__body {
        padding: 38.5px 10px;
        text-align: center;
        background: $white-color;
        transition: all 0.4s;
    }
    &__name {
        display: block;
        font-family: $ebgaramond;
        font-size: 2.2rem;
        font-weight: normal;
    }
    &__position {
        display: block;
        margin-top: 6px;
        font-size: 1.4rem;
        font-weight: normal;
        color: $gray-color;
    }
}

// raiting
.raiting {
    &__wrapper {
        margin-top: 62px;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-top: 42px;
        }
        @media screen and (min-width: 992px) {
            display: flex;
            align-items: flex-start;
        }
        @media screen and (max-width: 767px) {
            margin-top: 36px;
        }
    }
    &__information {
        position: sticky;
        top: calc(var(--height) + 10px);
        margin-top: 0;
        width: 100%;

        @media screen and (min-width: 992px) {
            margin-left: 60px;
            max-width: 446px;
            min-width: 446px;
        }
        @media screen and (max-width: 991px) {
            margin-top: 50px;
        }
    }
    &__content {
        @media screen and (min-width: 992px) {
            font-size: 17.5px;
        }
    }
    &__content + &__btn {
        margin-top: 20px;
    }
    &__btn {
        text-align: left;
    }
    &__btn + &__btn {
        margin-top: 8px;
    }
}

// contacts
.contacts {
    margin-top: 90px;
    &__item {
        padding-top: 15px;
        border-top: 1px solid $background-color;
        
        @media screen and (min-width: 1024px) {
            display: flex;
        }
    }
    &__item + &__item {
        margin-top: 60px;

        @media screen and (max-width: 767px) {
            margin-top: 45px;
        }
    }
    &__title {
        font-size: 2.2rem;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            padding-right: 15px;
            width: 50%;
        }
        @media screen and (max-width: 767px) {
            font-size: 1.8rem;
        }
    }
    &__info {
        @media screen and (min-width: 1024px) {
            padding-right: 45px;
            width: 35%;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            display: flex;
        }
    }
    &__content {
        margin-top: 30px;
        font-size: 20px;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-top: 0;
            width: 50%;
        }
        @media screen and (max-width: 767px) {
            margin-top: 20px;
            font-size: 15px;
        }
    }
    &__map {
        min-height: 598px;
        
        @media screen and (min-width: 1024px) {
            width: 65%;
        }
        @media screen and (max-width: 1023px) {
            width: 100%;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-top: 50px;
            min-height: 286px
        }
        @media screen and (max-width: 767px) {
            margin-top: 30px;
            min-height: 200px
        }
    }
    &__btn {
        margin-top: 17px;
        width: 100%;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}

.map-marker {
    width: 28px!important;
    height: 28px!important;
    background: $red-color;
}

// search page
.search-page {
    padding-top: 18px;
    &__help {
        display: block;
        font-size: 1.6rem;
        font-weight: normal;
        color: $gray-color;
    }
    &__form {
        position: relative;
        padding: 50px 0 16px;
        border-bottom: 3px solid $background-color;
        &::before {
            content: '';
            position: absolute;
            top: calc(50% + 17px); // (50 - 16) / 2 = 17
            right: 0;
            transform: translateY(-50%);
            display: block;
            width: 26px;
            height: 26px;
            background-image: url(../img/dist/sprite.svg#icon-search);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            padding: 18px 0 12px;
            &::before {
                top: calc(50% + 3px);
            }
        }
        @media screen and (max-width: 767px) {
            padding: 10px 0 2px;
            &::before {
                top: calc(50% + 4px);
                width: 14px;
                height: 14px;
            }
        }
    }
    &__input {
        width: 100%;
        font-family: $ebgaramond;
        font-size: 4.6rem;
        font-weight: normal;
        line-height: 1;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 3.6rem;
        }
        @media screen and (max-width: 767px) {
            font-size: 1.8rem;
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        font-family: $circe;
        font-size: 2.8rem;
        font-weight: bold;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 2.2rem;
        }
        @media screen and (max-width: 767px) {
            font-size: 1.6rem;
        }
    }
    &__link {
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: $blue-color;
        &:hover {
            color: $red-color;
        }
        
        @media screen and (max-width: 767px) {
            font-size: 1.2rem;
        }
    }
}

// charts
.charts {
    margin-top: 75px;
    padding: 30px 60px 30px 40px;
    background: $white-color;
    border-top: 5px solid $dark-background-color;
    transition: all 0.4s;
    &:hover {
        border-top: 5px solid $light-background-color;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin-top: 45px;
        padding: 24px 30px;
    }
    @media screen and (max-width: 767px) {
        margin-top: 25px;
        padding: 14px 10px;
    }

    &__wrapper {
        height: 520px;
        canvas {
            width: 100%;
        }

        @media screen and (max-width: 767px) {
            height: 300px;
        }
    }
    &__title {
        margin-bottom: 40px;
        font-size: 2.2rem;
        font-weight: bold;

        @media screen and (max-width: 1023px) {
            margin-bottom: 16px;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 1.8rem;
        }
        @media screen and (max-width: 767px) {
            font-size: 1.4rem;
        }
    }
}

.charts-legend {
    margin-top: 28px;
    padding-top: 40px;
    border-top: 5px solid $primary-background-color;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        padding-top: 28px;
    }
    @media screen and (max-width: 767px) {
        margin-top: 16px;
        padding-top: 16px;
    }

    &__list {
        display: flex;
        align-items: center;
        li:first-child {
            margin-left: 0!important;
        }
        li + li {
            margin-left: 56px!important;
        }
        span {
            margin-top: -2px;
            width: 14px!important;
            height: 14px!important;
        }
        p {
            font-size: 1.7rem;
            font-weight: normal;
            color: $primary-color!important;

            @media screen and (min-width: 768px) and (max-width: 1023px) {
                font-size: 1.5rem;
            }
            @media screen and (max-width: 767px) {
                font-size: 1rem;
            }
        }
    }
}

.circle-charts {
    &__wrapper {
        margin: 0 auto;
        max-width: 315px;
        width: 100%;
        text-align: center;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            max-width: 176px;
        }
        @media screen and (max-width: 767px) {
            max-width: 156px;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        li {
            display: flex;
            align-items: center;
        }
        li + li {
            margin-left: 66px;
        }
        span {
            display: block;
            margin-top: -2px;
            margin-right: 10px;
            min-width: 22px;
            min-height: 22px;
            max-width: 22px;
            max-height: 22px;
            border-radius: 50%;
        }
        p {
            font-size: 1.7rem;
            font-weight: normal;
            b, strong {
                font-weight: 800;
            }
        }

        @media screen and (max-width: 1023px) {
            flex-direction: column;
            margin-top: 25px;
            li + li {
                margin-top: 14px;
                margin-left: 0;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            span {
                min-width: 18px;
                min-height: 18px;
                max-width: 18px;
                max-height: 18px;
            }
            p {
                font-size: 1.5rem;
            }
        }
        @media screen and (max-width: 767px) {
            span {
                min-width: 14px;
                min-height: 14px;
                max-width: 14px;
                max-height: 14px;
            }
            p {
                font-size: 1rem;
            }
        }
    }
}

// structure lines
.structure-lines {
    &__wrapper {
        display: flex;
        justify-content: space-between;

        @media screen and (min-width: 1200px) {
            padding: 0 68px 30px;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            padding: 0 33px;
        }
    }
    &__item {
        position: relative;
        padding: 20px 24px;
        min-height: 280px;
        background: $dark-background-color;
        &--main {
            background: $light-background-color;
            .structure-lines__block {
                background: $light-background-color;
            }
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            padding: 16px;
            min-height: 180px;
        }
        @media screen and (max-width: 767px) {
            padding: 0;
            min-height: auto;
            background: transparent;
            &--main {
                background: transparent;
            }
        }
    }
    &__item + &__item {
        margin-left: 8px;
        
        @media screen and (max-width: 767px) {
            text-align: right;
        }
    }
    &__block {
        margin-bottom: 12px;
        width: 100%;
        min-height: 42px;
        background: $dark-background-color;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    &__value {
        display: block;
        font-size: 2.2rem;
        font-weight: bold;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 2rem;
        }
        @media screen and (max-width: 767px) {
            font-size: 1.4rem;
        }
    }
    &__description {
        padding-top: 10px;
        font-size: 1.7rem;
        font-weight: normal;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 1.5rem;
        }
        @media screen and (max-width: 767px) {
            padding-top: 1px;
            font-size: 1rem;
        }
    }
}

// retentions lines
.retentions-lines {
    &__item {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &__item + &__item {
        margin-top: 32px;

        @media screen and (max-width: 767px) {
            margin-top: 16px;
        }
    }
    &__left {
        width: 100%;
        text-align: right;
        .retentions-lines__block {
            margin-left: auto;
            background: $light-background-color;
        }
        .retentions-lines__btn {
            margin-left: auto;
        }
    }
    &__center {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 33px;
        padding: 0 10px;
        min-height: 65px;
        max-width: 170px;
        width: 100%;
        text-align: center;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-bottom: 36px;
            min-height: 42px;
            max-width: 146px;
        }
        @media screen and (max-width: 767px) {
            margin-bottom: 21px;
            min-height: 25px;
            max-width: 68px;
        }
    }
    &__name {
        display: block;
        font-size: 1.7rem;
        font-weight: normal;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 1.5rem;
        }
        @media screen and (max-width: 767px) {
            font-size: 1rem;
        }
    }
    &__right {
        width: 100%;
        .retentions-lines__block {
            background: $dark-background-color;
        }
    }
    &__block {
        display: block;
        min-height: 65px;

        @media screen and (max-width: 1023px) {
            .retentions-lines__title {
                display: none;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            min-height: 42px;
        }
        @media screen and (max-width: 767px) {
            min-height: 25px;
        }
    }
    &__title {
        display: block;
        font-family: $ebgaramond;
        font-size: 2.2rem;
        font-weight: normal;

        @media screen and (min-width: 1024px) {
            &--mobile {
                display: none;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-bottom: 24px;
            font-size: 2rem;
        }
        @media screen and (max-width: 767px) {
            margin-bottom: 15px;
            font-size: 1.3rem;
        }
    }
    &__value {
        display: block;
        margin-top: 8px;
        font-size: 1.7rem;
        font-weight: bold;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-top: 14px;
            font-size: 1.5rem;
        }
        @media screen and (max-width: 767px) {
            margin-top: 6px;
            font-size: 1rem;
        }
    }
}