@import "config"; // Always at the beginning
@import "header";
@import "footer";
@import "modal";

// main
.main {
    margin-top: var(--height);
    &__img {
        width: 100%;
        min-height: 567px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            min-height: 318px;
        }
        @media screen and (max-width: 767px) {
            min-height: 324px;
        }
    }
}

// information
.information {
    margin-top: 32px;
    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        background: $white-color;
        border-top: 5px solid $red-color;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -5px;
            left: 0;
            z-index: 1;
            width: 0;
            height: 5px;
            background: $blue-color;
            transition: all 0.4s ease-in-out;
        }
        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
    &__body {
        display: flex;
        flex-direction: column;
        padding: 42px 31.5px 30px;
        height: 100%;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            padding: 32px 17px;
        }
        @media screen and (max-width: 767px) {
            padding: 32px 17px;
        }
    }
    &__title {
        position: relative;
        padding-bottom: 35px;
        margin-bottom: 35px;
        font-family: $ebgaramond;
        font-size: 3.2rem;
        font-weight: normal;
        text-align: center;
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 40px;
            height: 2px;
            background: $primary-color;
        }
        
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            padding-bottom: 27px;
            margin-bottom: 27px;
            font-size: 2.6rem;
        }
        @media screen and (max-width: 767px) {
            padding-bottom: 23px;
            margin-bottom: 23px;
            font-size: 2.2rem;
        }
    }
    &__subtitle {
        font-size: 2.6rem;
        font-weight: normal;
        text-align: center;
        b, strong {
            font-weight: bold;
        }
        
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 1.6rem;
        }
        @media screen and (max-width: 767px) {
            font-size: 1.8rem;
        }
    }
    &__description {
        min-height: 135px;
        font-size: 1.9rem;
        font-weight: normal;
        
        @media screen and (max-width: 991px) {
            min-height: auto;
        }
        @media screen and (max-width: 767px) {
            font-size: 1.4rem;
        }
    }
    &__img {
        display: block;
        margin: 42px auto 0;
        max-width: 356px;
        width: 100%;
        
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            max-width: 85%;
        }
        @media screen and (max-width: 767px) {
            max-width: 100%;
        }
    }
    &__content {
        display: flex;
        align-items: center;
        flex: 1 1;
        margin-top: 10px;

        @media screen and (max-width: 991px) {
            padding-top: 32px;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        @media screen and (max-width: 767px) {
            &--background {
                flex-direction: column;
                .information__group {
                    padding: 14px;
                    max-width: 100%;
                    background: $background-color;
                }
                .information__group + .information__group {
                    margin-top: 6px;
                }
            }
        }
    }
    &__group {
        max-width: 32%;
        width: 100%;
        text-align: center;
    }
    &__group + &__group {
        margin-left: 2%;

        @media screen and (max-width: 767px) {
            margin-left: 0;
        }
    }
    &__progress {
        position: relative;
        display: flex;
        align-items: flex-end;
        margin: 0 auto 18px;
        width: 48px;
        height: 114px;
        &--value {
            width: 100%;
            background: $background-color;
        }

        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    &__text {
        display: block;
        font-size: 1.6rem;
        font-weight: normal;
        b, strong {
            font-weight: bold;
        }

        @media screen and (max-width: 767px) {
            font-size: 1.2rem;
            b, strong {
                font-size: 1.4rem;
            }
        }
    }
    &__text + &__text {
        @media screen and (max-width: 767px) {
            margin-top: 2px;
        }
    }
    &__btn {
        margin: 0 auto 30px;

        @media screen and (max-width: 767px) {
            margin: 0 auto 25px;
            max-width: calc(100% - 34px);
        }
    }
    &__more {
        position: relative;
        display: block;
        padding: 24px 0;
        width: 100%;
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: 0.09em;
        text-align: center;
        text-transform: uppercase;
        color: $grey-color;
        border-top: 2px solid $primary-background-color;
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 23px;
            transform: translateY(-50%);
            display: block;
            width: 14px;
            height: 14px;
            opacity: 0;
            background-image: url(../img/dist/sprite.svg#icon-arrow-right);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            transition: all 0.4s;
        }
        &:hover {
            color: $primary-color;
            background: $background-color;
            border-top: 2px solid $background-color;
            &::after {
                opacity: 1;
            }
        }
    }
}