doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Русское Перестраховочное Общество - Контакты
        //- styles
        link(rel="stylesheet", href="css/vendor.min.css")
        link(rel="stylesheet", href="css/app.min.css")
    body(data-spy="scroll")
        //- header
        include includes/header.pug

        //- wrapper
        .wrapper 
    
            //- heading
            .heading 
                .container 
                    h1 Контакты
                    //-.content.heading__content 
                    //-    p Мы будем рады ответить на любой ваш вопрос.

            //- contacts
            .contacts
                .container 
                    .contacts__wrapper 
                        .contacts__item
                            .contacts__info
                                h3.contacts__title Офис в Москве
                                .content.contacts__content 
                                    p. 
                                        105062, г. Москва, Russian RE бизнес центр, Лялин переулок, д. 19, корп. 1<br>
                                        Режим работы: 9.30 – 18.00<br>
                                        тел: +7 495 933 88 83<br>
                                        email: <a href="mailto:russre@russianre.ru" class="red-link">russre@russianre.ru</a>
                            .contacts__map#contacts-map-1 
                            a(href="#", class="contacts__btn btn btn--white btn--between btn--icon-angle") 
                                span.btn__title Открыть на Яндекс Картах
                                svg.btn__icon
                                    use(xlink:href="img/dist/sprite.svg#icon-arrow-more")
                        .contacts__item
                            .contacts__info
                                h3.contacts__title Представительство: Владивосток
                                .content.contacts__content 
                                    p. 
                                        690091, Владивосток, ул. Суханова, д. 3-а,офис 207,  а/я 91-267<br>
                                        тел.: +7 4232 43 2254<br>
                                        e-mail: <a href="mailto:vborisiuk@russianre.ru" class="red-link">vborisiuk@russianre.ru</a>
                            .contacts__map#contacts-map-2 
                            a(href="#", class="contacts__btn btn btn--white btn--between btn--icon-angle") 
                                span.btn__title Открыть на Яндекс Картах
                                svg.btn__icon
                                    use(xlink:href="img/dist/sprite.svg#icon-arrow-more")

            //- nav block
            include includes/nav-block.pug
            
            //- footer
            include includes/footer.pug

        //- scripts
        script(src='js/vendor.min.js')
        script(src='js/app.min.js')