doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Русское Перестраховочное Общество - Финансовая отчетность по МСФО
        //- styles
        link(rel="stylesheet", href="css/vendor.min.css")
        link(rel="stylesheet", href="css/app.min.css")
    body
        //- header
        include includes/header.pug

        //- wrapper
        .wrapper 
    
            //- heading
            .heading 
                .container 
                    a.heading__link(href="finance.html") Финансы
                    h1 Финансовая отчетность по МСФО
                    //-.content.heading__content 
                    //-    p 28.05.2020 АКРА повысило кредитный рейтинг АО «Русское перестраховочное общество» до уровня А+(RU), изменив прогноз на «Стабильный».

            //- accordions
            .accordions
                .container 
                    .accordions__wrapper 
                        .accordions__item 
                            button.accordions__trigger МСФО 2020
                            .accordions__wrap
                                .content.accordions__content 
                                    p Годовая бухгалтерская (финансовая) отчетность за 2019 год. 
                                    p Публикация консолидированной финансовой отчетности в соответсвии со ст.7 Федерального закона от 27 июля 2010 года № 208-ФЗ "О консолидированной финансовой отчетности".
                            
                                .documents
                                    .documents__wrapper 
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-file")
                                                span.documents__name Название документа.pdf
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text Автор: Сергей Борисов
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-link")
                                                span.documents__name Ссылка на страницу
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text http://www.russianre.ru/finance_rep/ra...
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-link")
                                                span.documents__name Ссылка на страницу
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text http://www.russianre.ru/finance_rep/ra...
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-file")
                                                span.documents__name Название документа.pdf
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text Автор: Сергей Борисов
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-file")
                                                span.documents__name Название документа.pdf
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text Автор: Сергей Борисов
                        .accordions__item 
                            button.accordions__trigger МСФО 2019
                            .accordions__wrap
                                .content.accordions__content 
                                    p Годовая бухгалтерская (финансовая) отчетность за 2019 год. 
                                    p Публикация консолидированной финансовой отчетности в соответсвии со ст.7 Федерального закона от 27 июля 2010 года № 208-ФЗ "О консолидированной финансовой отчетности".
                                .documents
                                    .documents__wrapper 
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-file")
                                                span.documents__name Название документа.pdf
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text Автор: Сергей Борисов
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-link")
                                                span.documents__name Ссылка на страницу
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text http://www.russianre.ru/finance_rep/ra...
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-link")
                                                span.documents__name Ссылка на страницу
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text http://www.russianre.ru/finance_rep/ra...
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-file")
                                                span.documents__name Название документа.pdf
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text Автор: Сергей Борисов
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-file")
                                                span.documents__name Название документа.pdf
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text Автор: Сергей Борисов
                        .accordions__item 
                            button.accordions__trigger МСФО 2018
                            .accordions__wrap
                                .content.accordions__content 
                                    p Годовая бухгалтерская (финансовая) отчетность за 2019 год. 
                                    p Публикация консолидированной финансовой отчетности в соответсвии со ст.7 Федерального закона от 27 июля 2010 года № 208-ФЗ "О консолидированной финансовой отчетности".
                                .documents
                                    .documents__wrapper 
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-file")
                                                span.documents__name Название документа.pdf
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text Автор: Сергей Борисов
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-link")
                                                span.documents__name Ссылка на страницу
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text http://www.russianre.ru/finance_rep/ra...
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-link")
                                                span.documents__name Ссылка на страницу
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text http://www.russianre.ru/finance_rep/ra...
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-file")
                                                span.documents__name Название документа.pdf
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text Автор: Сергей Борисов
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-file")
                                                span.documents__name Название документа.pdf
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text Автор: Сергей Борисов
                        .accordions__item 
                            button.accordions__trigger МСФО 2017
                            .accordions__wrap
                                .content.accordions__content 
                                    p Годовая бухгалтерская (финансовая) отчетность за 2019 год. 
                                    p Публикация консолидированной финансовой отчетности в соответсвии со ст.7 Федерального закона от 27 июля 2010 года № 208-ФЗ "О консолидированной финансовой отчетности".
                                .documents
                                    .documents__wrapper 
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-file")
                                                span.documents__name Название документа.pdf
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text Автор: Сергей Борисов
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-link")
                                                span.documents__name Ссылка на страницу
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text http://www.russianre.ru/finance_rep/ra...
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-link")
                                                span.documents__name Ссылка на страницу
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text http://www.russianre.ru/finance_rep/ra...
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-file")
                                                span.documents__name Название документа.pdf
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text Автор: Сергей Борисов
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-file")
                                                span.documents__name Название документа.pdf
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text Автор: Сергей Борисов

            //- nav block
            include includes/nav-block.pug
            
            //- footer
            include includes/footer.pug

        //- scripts
        script(src='js/vendor.min.js')
        script(src='js/app.min.js')