doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Русское Перестраховочное Общество - Карта сайта
        //- styles
        link(rel="stylesheet", href="css/vendor.min.css")
        link(rel="stylesheet", href="css/app.min.css")
    body
        //- header
        include includes/header.pug

        //- wrapper
        .wrapper 
            //- heading
            .heading 
                .container 
                    h1 Список всех страниц

            //- site map
            .site-map
                .container 
                    ul.site-map__list 
                        li 
                            a(href="main.html") Главная страница
                        li 
                            a(href="about-company.html") О компании
                            ul
                                li 
                                    a(href="history.html") История акционеров
                                li 
                                    a(href="information-disclosure.html") Раскрытие информации
                                li 
                                    a(href="board-of-directors.html") Совет директоров
                        li 
                            a(href="team.html") Наша команда
                            ul
                                li 
                                    a(href="team-department.html") Департамент андеррайтинга
                        li 
                            a(href="finance.html") Финансы
                            ul
                                li 
                                    a(href="raiting.html") Рейтинг B от AM Best
                                li 
                                    a(href="annual-accounting.html") Годовая бухгалтерская (финансовая) отчетность
                                li 
                                    a(href="financial-statements.html") Финансовая отчетность по МСФО
                        li 
                            a(href="ads.html") Объявления
                            ul
                                li 
                                    a(href="ads-page.html") Страница объявления
                        li 
                            a(href="contacts.html") Контакты
                        li 
                            a(href="site-map.html") Карта сайта

            //- footer
            include includes/footer.pug

        //- scripts
        script(src='js/vendor.min.js')
        script(src='js/app.min.js')