doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Русское Перестраховочное Общество - Раскрытие информации
        //- styles
        link(rel="stylesheet", href="css/vendor.min.css")
        link(rel="stylesheet", href="css/app.min.css")
    body
        //- header
        include includes/header.pug

        //- wrapper
        .wrapper 
    
            //- heading
            .heading 
                .container 
                    a.heading__link(href="about-company.html") Компания
                    h1 Раскрытие информации
                    .content.heading__content 
                        p Руководство уделяет большое внимание обеспечению финансовой прозрачности компании и автоматизации всего документооборота. Ежегодно в компании проводится аудит финансовой отчетности с соответствии с российскими и международными стандартами.

            //- accordions
            .accordions
                .container 
                    .accordions__wrapper 
                        .accordions__item 
                            button.accordions__trigger Краткие сведения о нашей компании
                            .accordions__wrap
                                .content.accordions__content 
                                    p. 
                                        АО "Русское перестраховочное общество"<br><br>
                                        ОГРН 1027739122498 <a href="#">Скачать документы</a><br>
                                        ИНН/КПП 7707088309/ 770901001 – и ссылка на документ<br>
                                        Лицензия Банка России на осуществление перестрахования № ПC 0235 от 03.09.2015 – и ссылка на документ<br>
                                        Номер в реестре субъектов страхового дела 0235<br>
                                        Регистрационный номер в саморегулируемой организации "Всероссийский союз страховщиков" № 157 от 14.04.2017
                            
                                .documents
                                    .documents__wrapper 
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-file")
                                                span.documents__name Название документа.pdf
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text Автор: Сергей Борисов
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-link")
                                                span.documents__name Ссылка на страницу
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text http://www.russianre.ru/finance_rep/ra...
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-link")
                                                span.documents__name Ссылка на страницу
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text http://www.russianre.ru/finance_rep/ra...
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-file")
                                                span.documents__name Название документа.pdf
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text Автор: Сергей Борисов
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-file")
                                                span.documents__name Название документа.pdf
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text Автор: Сергей Борисов
                        .accordions__item 
                            button.accordions__trigger Органы управления
                            .accordions__wrap
                                .content.accordions__content 
                                    p. 
                                        АО "Русское перестраховочное общество"<br><br>
                                        ОГРН 1027739122498 <a href="#">Скачать документы</a><br>
                                        ИНН/КПП 7707088309/ 770901001 – и ссылка на документ<br>
                                        Лицензия Банка России на осуществление перестрахования № ПC 0235 от 03.09.2015 – и ссылка на документ<br>
                                        Номер в реестре субъектов страхового дела 0235<br>
                                        Регистрационный номер в саморегулируемой организации "Всероссийский союз страховщиков" № 157 от 14.04.2017
                            
                                .documents
                                    .documents__wrapper 
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-file")
                                                span.documents__name Название документа.pdf
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text Автор: Сергей Борисов
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-link")
                                                span.documents__name Ссылка на страницу
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text http://www.russianre.ru/finance_rep/ra...
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-link")
                                                span.documents__name Ссылка на страницу
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text http://www.russianre.ru/finance_rep/ra...
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-file")
                                                span.documents__name Название документа.pdf
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text Автор: Сергей Борисов
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-file")
                                                span.documents__name Название документа.pdf
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text Автор: Сергей Борисов


            //- nav block
            include includes/nav-block.pug
            
            //- footer
            include includes/footer.pug

        //- scripts
        script(src='js/vendor.min.js')
        script(src='js/app.min.js')