doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Русское Перестраховочное Общество - Главная
        link(rel="stylesheet", href="css/vendor.min.css")
        link(rel="stylesheet", href="css/app.min.css")
    body
        include includes/header.pug

        div(class="main")
            div(class="container") 
                div(class="main__img", style="background-image: url(img/dist/main-bg.jpg)")

        div(class="information")
            div(class="container") 
                div(class="row") 
                    div(class="col-lg-6 col-12 mb-4")
                        div(class="information__item")
                            div(class="information__body") 
                                h2(class="information__title") О компании
                                p(class="information__description") Основанное в 1992 году Русское перестраховочное общество сейчас динамично развивающаяся компания с прочными позициями на рынке, хорошо известная своей экспертизой, подкрепленной значительным андеррайтинговым опытом и обширными международными связями
                                div(class="information__content")
                                    div(class="information__inner information__inner--background")
                                        div(class="information__group")
                                            div(class="information__progress")
                                                div(class="information__progress--value", style="height: 23.30%")
                                            span(class="information__text")
                                                b 23,30%
                                            span(class="information__text") Chubb Russia Investments Limited (UK), 100% owned by Chubb Limited (Switzerland)

                                        div(class="information__group")
                                            div(class="information__progress")
                                                div(class="information__progress--value", style="height: 22.50%")
                                            span(class="information__text")
                                                b 22,50%
                                            span(class="information__text") Catlin Underwriting Agencies Limited (UK), 100% owned by AXA SA (France)

                                        div(class="information__group")
                                            div(class="information__progress")
                                                div(class="information__progress--value", style="height: 50.32%")
                                            span(class="information__text")
                                                b 50,32%
                                            span(class="information__text") Руководство <br>Общества
                            div(class="information__bottom") 
                                a(href="#", class="information__btn btn", download) 
                                    span Скачать буклет о компании
                                    svg(class="btn__icon")
                                        use(xlink:href="img/dist/sprite.svg#icon-arrow-more")
                                a(href="#", class="information__more") Подробнее
                    div(class="col-lg-6 col-12 mb-4")  
                        div(class="information__item")
                            div(class="information__body") 
                                h2(class="information__title") Финансовая отчетность
                                p(class="information__description") Русское перестраховочное общество обладает двумя рейтингами: международным от Рейтингового Агентства AM Best и национальным от российского кредитного Рейтингового Агентства АКРА
                                div(class="information__content")
                                    div(class="information__inner")
                                        div(class="information__group")
                                            h3(class="information__subtitle")
                                                b B
                                            h3(class="information__subtitle") AM Best
                                        div(class="information__group")
                                            h3(class="information__subtitle")
                                                b A+ (Ru)
                                            h3(class="information__subtitle") Acra
                            div(class="information__bottom") 
                                a(href="#", class="information__btn btn", download) 
                                    span Скачать последний финансовый отчет
                                    svg.btn__icon
                                        use(xlink:href="img/dist/sprite.svg#icon-arrow-more")
                                a(href="#", class="information__more") Подробнее
                    div(class="col-lg-6 col-12 mb-4")
                        div(class="information__item")
                            div(class="information__body") 
                                h2(class="information__title") Перестрахование
                                p(class="information__description").
                                    Русское перестраховочное общество – специализированный андеррайтер по имущественным, энергетическим и строительно-монтажным рискам, ориентированный на факультативный бизнес и развивающийся на Российском и международном рынках<br><br>
                                    Русское перестраховочное общество – специализированный андеррайтер по имущественным, энергетическим и строительно-монтажным рискам, ориентированный на факультативный бизнес и развивающийся на Российском и международном рынках
                            div(class="information__bottom") 
                                a(href="#", class="information__btn btn", download) 
                                    span Портфолио компании
                                    svg.btn__icon
                                        use(xlink:href="img/dist/sprite.svg#icon-arrow-more")
                                a(href="#", class="information__more") Подробнее
                    div(class="col-lg-6 col-12 mb-4")
                        div(class="information__item")
                            div(class="information__body") 
                                h2(class="information__title") Команда
                                p(class="information__description") Команда Русского перестраховочного общества – профессионалы высочайшего класса, имеющие богатый опыт и обширные знания в страховании и перестраховании, подкрепленный фундаментальными знаниями в сферах, соответствующих основным направлениям бизнеса Общества
                                img(src="img/dist/command-img.png", alt="Команда", class="information__img")
                            div(class="information__bottom") 
                                a(href="#", class="information__more") Подробнее
        
        include includes/footer.pug

        script(src='/js/vendor.min.js')
        script(src='/js/app.min.js')