doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Русское Перестраховочное Общество - Рейтинг B от AM Best
        //- styles
        link(rel="stylesheet", href="css/vendor.min.css")
        link(rel="stylesheet", href="css/app.min.css")
    body(data-spy="scroll")
        //- header
        include includes/header.pug

        //- wrapper
        .wrapper 
    
            //- heading
            .heading 
                .container 
                    a.heading__link(href="finance.html") Финансы
                    h1 Рейтинг B от AM Best

            //- raiting
            .raiting 
                .container 
                    .raiting__wrapper
                        .raiting__body 
                            .raiting__block.section-content 
                                .content.raiting__content 
                                    p.heading-text 04.08.2021 AM Best has revised the outlooks to positive from stable and affirmed the Financial Strength Rating of B (Fair) and the Long-Term Issuer Credit Rating of “bb+” (Fair) of Russian Reinsurance Company JSC (Russian Re) (Russia).
                                    p The Credit Ratings (ratings) reflect Russian Re’s balance sheet strength, which AM Best assesses as strong, as well as its adequate operating performance, limited business profile and marginal enterprise risk management (ERM).
                                    <br>
                                    a(href="#", class="btn btn--white") 
                                        span.btn__title Открыть полную версию пресс-релиза
                                        svg.btn__icon
                                            use(xlink:href="img/dist/sprite.svg#icon-arrow-more")
                                    <br>
                                    p This press release relates to Credit Ratings that have been published on AM Best’s website. For all rating information relating to the release please see AM Best’s Recent Rating Activity <a href="#" class="content-link">web page</a>.
                                    p The history of the Company began in 1992 when the initiative of the team of industry experts to set up a Russian professional  reinsurer was supported  by 32 Insurance companies - members of the Russian Union of  Insurers.  We gave the name Russian Re to the new market player. This name was dreamed of to become the symbol of professionalism and reliability. We clearly realized that it would take us many years to nurture such a company and took this road
                            //-.raiting__block.section-content
                            //-    .content
                            //-        p The history of the Company began in 1992 when the initiative of the team of industry experts to set up a Russian professional  reinsurer was supported  by 32 Insurance companies - members of the Russian Union of  Insurers.  We gave the name Russian Re to the new market player. This name was dreamed of to become the symbol of professionalism and reliability. We clearly realized that it would take us many years to nurture such a company and took this road
                            //-        p The history of the Company began in 1992 when the initiative of the team of industry experts to set up a Russian professional  reinsurer was supported  by 32 Insurance companies - members of the Russian Union of  Insurers.  We gave the name Russian Re to the new market player. This name was dreamed of to become the symbol of professionalism and reliability. We clearly realized that it would take us many years to nurture such a company and took this road.
                            //-        p The history of the Company began in 1992 when the initiative of the team of industry experts to set up a Russian professional  reinsurer was supported  by 32 Insurance companies - members of the Russian Union of  Insurers.  We gave the name Russian Re to the new market player. This name was dreamed of to become the symbol of professionalism and reliability. We clearly realized that it would take us many years to nurture such a company and took this road.
                            //-.raiting__block.section-content
                            //-    .content.raiting__content
                            //-        a(href="#", class="btn btn--white") 
                            //-            span.btn__title Кнопка для перехода на любую страницу внутри сайта
                            //-            svg.btn__icon
                            //-                use(xlink:href="img/dist/sprite.svg#icon-arrow-more")
                            //-        a(href="#", class="btn btn--white btn--icon-angle") 
                            //-            span.btn__title Кнопка для перехода на любую страницу вне сайта
                            //-            svg.btn__icon
                            //-                use(xlink:href="img/dist/sprite.svg#icon-arrow-more")
                        .information.raiting__information
                            div(class="information__item top-line top-line--blue")
                                div(class="information__body") 
                                    span(class="information__help") ДРУГОЙ РЕЙТИНГ
                                    h3(class="information__heading information__heading--normal") A.M. Best
                                    span(class="information__title title")
                                        b B
                                    p(class="information__description") 23.07.2020 рейтинговое агентство AM Best подтвердило рейтинг финансовой устойчивости B (Fair) и долгосрочный кредитный рейтинг "bb+" АО "Русское перестраховочное общество". Прогноз по обоим рейтингам стабильный. 
                                div(class="information__bottom") 
                                    a(href="#", class="information__more more-btn") Подробнее
            
            //- nav block
            include includes/nav-block.pug
            
            //- footer
            include includes/footer.pug

        //- scripts
        script(src='js/vendor.min.js')
        script(src='js/app.min.js')