doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Русское Перестраховочное Общество - Перестрахование
        //- styles
        link(rel="stylesheet", href="css/vendor.min.css")
        link(rel="stylesheet", href="css/app.min.css")
    body
        //- header
        include includes/header.pug

        //- wrapper
        .wrapper 
    
            //- heading
            .heading 
                .container 
                    h1.heading-title Russian Re is a Specialized Property/Energy/Engineering Underwriter 
                    .content.heading__content 
                        p Руководство уделяет большое внимание обеспечению финансовой прозрачности компании и автоматизации всего документооборота. Ежегодно в компании проводится аудит финансовой отчетности с соответствии с российскими и международными стандартами.
            
            //- information
            section(class="information information--mt")
                div(class="container") 
                    div(class="row") 
                        div(class="col-12 mb-4")
                            div(class="information__item top-line top-line--dark top-line--no-hover")
                                div(class="information__body") 
                                    h2(class="information__title title") Portfolio structure by lines of businesses
                                    .structure-lines
                                        .structure-lines__wrapper 
                                            .structure-lines__item.structure-lines__item--main(style="width: 80%;") 
                                                .structure-lines__block
                                                span.structure-lines__value >90 %
                                                p.structure-lines__description. 
                                                    Property <br>
                                                    Energy <br>
                                                    Engineering
                                            .structure-lines__item(style="width: 20%;") 
                                                .structure-lines__block 
                                                span.structure-lines__value <10 %
                                                p.structure-lines__description. 
                                                    Motor<br>
                                                    SPPM<br>
                                                    Other
                        div(class="col-md-6 col-12 mb-4")  
                            div(class="information__item top-line top-line--dark top-line--no-hover")
                                div(class="information__body") 
                                    h2(class="information__title title") Portfolio structure by types of contracts
                                    .circle-charts
                                        .circle-charts__wrapper 
                                            img(src="img/dist/circle-charts-01.svg", alt="#")
                                        .circle-charts__legend
                                            ul.circle-charts__list 
                                                li 
                                                    span(style="background: #E3D5C0;")  
                                                    p <b>60%</b> Obligatory
                                                li 
                                                    span(style="background: #E9E3DA;") 
                                                    p <b>40%</b> Facultative
                        div(class="col-md-6 col-12 mb-4")
                            div(class="information__item top-line top-line--dark top-line--no-hover")
                                div(class="information__body") 
                                    h2(class="information__title title") Portfolio structure by territories
                                    .circle-charts
                                        .circle-charts__wrapper 
                                            img(src="img/dist/circle-charts-02.svg", alt="#")
                                        .circle-charts__legend
                                            ul.circle-charts__list 
                                                li 
                                                    span(style="background: #E3D5C0;")  
                                                    p <b>60%</b> Russia and CIS
                                                li 
                                                    span(style="background: #E9E3DA;")  
                                                    p <b>40%</b> Overseas
                        div(class="col-12 mb-4")
                            div(class="information__item top-line top-line--dark top-line--no-hover")
                                div(class="information__body") 
                                    h2(class="information__title title") Retentions by lines of businesses
                                    .retentions-lines
                                        .retentions-lines__wrapper 
                                            .retentions-lines__item
                                                .retentions-lines__left 
                                                    span.retentions-lines__title Domestic
                                                    .retentions-lines__block(style="width: 90%;") 
                                                    span.retentions-lines__value 58 000 000 EUR
                                                .retentions-lines__center
                                                    span.retentions-lines__name Facultative
                                                .retentions-lines__right
                                                    span.retentions-lines__title Overseas
                                                    .retentions-lines__block(style="width: 35%;") 
                                                    span.retentions-lines__value EUR 20 000 000
                                            .retentions-lines__item
                                                .retentions-lines__left 
                                                    .retentions-lines__block(style="width: 25%;") 
                                                    span.retentions-lines__value 6 000 000 EUR
                                                .retentions-lines__center
                                                    span.retentions-lines__name Treaty
                                                .retentions-lines__right
                                                    .retentions-lines__block(style="width: 12%;") 
                                                    span.retentions-lines__value EUR 2 000 000
                                            .retentions-lines__item 
                                                .retentions-lines__left 
                                                    a.documents-btn.retentions-lines__btn(href="#")  
                                                        span.documents-btn__name Название документа.pdf
                                                        svg(class="documents-btn__icon")
                                                            use(xlink:href="img/dist/sprite.svg#icon-file")
                                                .retentions-lines__center.retentions-lines__center--empty
                                                .retentions-lines__right
                                                    a.documents-btn.retentions-lines__btn(href="#")  
                                                        svg(class="documents-btn__icon")
                                                            use(xlink:href="img/dist/sprite.svg#icon-file")
                                                        span.documents-btn__name Название документа.pdf
                        div(class="col-12 mb-4")
                            div(class="information__item top-line top-line--dark top-line--no-hover")
                                div(class="information__body") 
                                    h2(class="information__title title") Название блока 
                                    .t-map
                                        .t-map__groups
                                            .t-group-item#group-1(data-countries="BD,VN,CN,HK,MO,LA,KH,IN,ID,MY,MV,MN,NP,PK,SG,TW,LK,PH,KR", data-color="#FCEAEA")
                                                .t-group-item__label
                                                    .t-group-item__mark 
                                                        .t-group-item__mark--value(style="width: 34.5%; background: #FCEAEA;")
                                                    span.t-group-item__title Азия
                                                .t-group-item__dropdown.t-group-dropdown 
                                                    span.t-group-dropdown__name Азия - емкости
                                                    .t-group-dropdown__inner 
                                                        span.t-group-dropdown__text ФАКУЛЬТАТИВ
                                                        span.t-group-dropdown__text EUR 20’000’000
                                                    .t-group-dropdown__inner 
                                                        span.t-group-dropdown__text ОБЛИГАТОР
                                                        span.t-group-dropdown__text EUR 2’000’000
                                                    p.t-group-dropdown__contries Бангладеш, Вьетнам, Китай, Гонконг, Макао, Лаос, Камбоджа, Индия, Индонезия, Малайзия, Мальдивы, Монголия, Непал, Пакистан,  Сингапур, Тайвань, Тайланд, Шри-Ланка, Филиппины, Южная Корея
                                            .t-group-item#group-2(data-countries="ET,KE,MU,NG,TZ,UG,ZA", data-color="#FCEAEA")
                                                .t-group-item__label
                                                    .t-group-item__mark
                                                        .t-group-item__mark--value(style="width: 34.5%; background: #FCEAEA")
                                                    span.t-group-item__title Африка
                                                .t-group-item__dropdown.t-group-dropdown 
                                                    span.t-group-dropdown__name Африка - емкости
                                                    .t-group-dropdown__inner 
                                                        span.t-group-dropdown__text ФАКУЛЬТАТИВ
                                                        span.t-group-dropdown__text EUR 20’000’000
                                                    .t-group-dropdown__inner 
                                                        span.t-group-dropdown__text ОБЛИГАТОР
                                                        span.t-group-dropdown__text EUR 2’000’000
                                                    p.t-group-dropdown__contries Эфиопия, Кения, Маврикий, Нигерия, Танзания, Уганда, Южно-Африканская Республика
                                            .t-group-item#group-3(data-countries="AR,BR,BO,GT,HN,DO,CO,CR,MX,NI,PA,PY,PE,SV,TT,UY,CL,EC,JM", data-color="#FCEAEA")
                                                .t-group-item__label
                                                    .t-group-item__mark
                                                        .t-group-item__mark--value(style="width: 34.5%; background: #FCEAEA")
                                                    span.t-group-item__title Латинская Америка
                                                .t-group-item__dropdown.t-group-dropdown 
                                                    span.t-group-dropdown__name Латинская Америка - емкости
                                                    .t-group-dropdown__inner 
                                                        span.t-group-dropdown__text ФАКУЛЬТАТИВ
                                                        span.t-group-dropdown__text EUR 20’000’000
                                                    .t-group-dropdown__inner 
                                                        span.t-group-dropdown__text ОБЛИГАТОР
                                                        span.t-group-dropdown__text EUR 2’000’000
                                                    p.t-group-dropdown__contries Аргентина, Бразилия, Боливия,  Гватемала, Гондурас, Доминиканская Республика, Колумбия, Коста Рика, Мексика, Никарагуа, Панама, Парагвай, Перу, Пуерто Рико, Сальвадор, Тринидад и Тобаго, Уругвай, Чили, Эквадор, Ямайка
                                            .t-group-item#group-4(data-countries="DZ,BH,EG,IL,JO,QA,KW,LB,MA,AE,OM,SA,TN", data-color="#FCEAEA")
                                                .t-group-item__label
                                                    .t-group-item__mark
                                                        .t-group-item__mark--value(style="width: 34.5%; background: #FCEAEA")
                                                    span.t-group-item__title Регион МЕНА
                                                .t-group-item__dropdown.t-group-dropdown 
                                                    span.t-group-dropdown__name Регион МЕНА - емкости
                                                    .t-group-dropdown__inner 
                                                        span.t-group-dropdown__text ФАКУЛЬТАТИВ
                                                        span.t-group-dropdown__text EUR 20’000’000
                                                    .t-group-dropdown__inner 
                                                        span.t-group-dropdown__text ОБЛИГАТОР
                                                        span.t-group-dropdown__text EUR 2’000’000
                                                    p.t-group-dropdown__contries Алжир, Бахрейн, Египет, Израиль, Иордания, Катар, Кувейт, Ливан, Марокко,  ОАЭ, Оман, Саудовская Аравия, Тунис 
                                            .t-group-item#group-5(data-countries="AL,BA,BG,HU,MK,PL,RO,RS,ME,SK,SI,HR,CZ", data-color="#FCEAEA")
                                                .t-group-item__label
                                                    .t-group-item__mark
                                                        .t-group-item__mark--value(style="width: 34.5%; background: #FCEAEA")
                                                    span.t-group-item__title Центральная и Восточная Европа
                                                .t-group-item__dropdown.t-group-dropdown 
                                                    span.t-group-dropdown__name Центральная и Восточная Европа - емкости
                                                    .t-group-dropdown__inner 
                                                        span.t-group-dropdown__text ФАКУЛЬТАТИВ
                                                        span.t-group-dropdown__text EUR 20’000’000
                                                    .t-group-dropdown__inner 
                                                        span.t-group-dropdown__text ОБЛИГАТОР
                                                        span.t-group-dropdown__text EUR 2’000’000
                                                    p.t-group-dropdown__contries Албания, Босния и Герцеговина, Болгария, Венгрия, Македония, Польша, Румыния, Сербия, Черногория, Словакия, Словения, Хорватия, Чешская Республика
                                            .t-group-item#group-6(data-countries="AM,AZ,BY,GE,KZ,KG,LV,LT,MD,RU,TJ,TM,UZ,UA,EE", data-color="#E1EBFF")
                                                .t-group-item__label
                                                    .t-group-item__mark
                                                        .t-group-item__mark--value(style="width: 100%; background: #E1EBFF")
                                                    span.t-group-item__title Россия и СНГ
                                                .t-group-item__dropdown.t-group-dropdown 
                                                    span.t-group-dropdown__name Россия и СНГ - емкости
                                                    .t-group-dropdown__inner 
                                                        span.t-group-dropdown__text ФАКУЛЬТАТИВ
                                                        span.t-group-dropdown__text EUR 58’000’000
                                                    .t-group-dropdown__inner 
                                                        span.t-group-dropdown__text ОБЛИГАТОР
                                                        span.t-group-dropdown__text EUR 6’000’000
                                                    p.t-group-dropdown__contries Армения, Азербайджан, Беларусь, Грузия,  Казахстан, Кыргызстан, Латвия, Литва, Молдавия, Россия, Таджикистан, Туркменистан, Узбекистан, Украина, Эстония  
                                        .t-map__main#map
                        div(class="col-12 mb-4")
                            div(class="information__item top-line top-line--dark top-line--no-hover")
                                div(class="information__body") 
                                    h2(class="information__title title") Добро пожаловать! 
                                    img(src="img/dist/command-img.jpg", alt="Команда", class="information__img")
                                div(class="information__bottom") 
                                    a(href="#", class="information__btn information__btn--bottom btn") 
                                        span Департамент андеррайтинга
                                        svg.btn__icon
                                            use(xlink:href="img/dist/sprite.svg#icon-arrow-more")

            //- nav block
            include includes/nav-block.pug
            
            //- footer
            include includes/footer.pug

        //- scripts
        script(src='https://cdn.amcharts.com/lib/4/core.js')
        script(src='https://cdn.amcharts.com/lib/4/maps.js')
        script(src='https://cdn.amcharts.com/lib/4/geodata/worldHigh.js')
        script(src='https://cdn.amcharts.com/lib/4/themes/animated.js')
        script(src='js/vendor.min.js')
        script(src='js/app.min.js')