doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Русское Перестраховочное Общество - Поисковый запрос
        //- styles
        link(rel="stylesheet", href="css/vendor.min.css")
        link(rel="stylesheet", href="css/app.min.css")
    body
        //- header
        include includes/header.pug

        //- wrapper
        .wrapper.search-page 
        
            //- search page top
            .container 
                span.search-page__help Результат поиска
                form.search-page__form 
                    input(type="text", class="search-page__input input", placeholder="Поисковый запрос")

            //- sticky content
            .sticky
                //- anchors
                .anchors
                    .container 
                        ul.anchors__list 
                            li.anchors__item
                                a.anchors__link.nav-link(href="#") Все (29)
                            li.anchors__item 
                                a.anchors__link.nav-link(href="#") Документы (9)
                            li.anchors__item 
                                a.anchors__link.nav-link(href="#") Сотрудники (12)
                            li.anchors__item
                                a.anchors__link.nav-link(href="#") Объявления (8)
                
                //- search page content
                .search-page__wrap
                    .container 
                        .search-page__wrapper.section-bordered 
                            .search-page__inner 
                                h2.search-page__title Документы
                                a.search-page__link(href="#") СМОТРЕТЬ ВСЕ
                            .documents.documents--white
                                    .documents__wrapper 
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-file")
                                                span.documents__name Название документа.pdf
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text Автор: Сергей Борисов
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-link")
                                                span.documents__name Ссылка на страницу
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text http://www.russianre.ru/finance_rep/ra...
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-link")
                                                span.documents__name Ссылка на страницу
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text http://www.russianre.ru/finance_rep/ra...
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-file")
                                                span.documents__name Название документа.pdf
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text Автор: Сергей Борисов
                                        a.documents__item(href="#")  
                                            .documents__group 
                                                svg(class="documents__icon")
                                                    use(xlink:href="img/dist/sprite.svg#icon-file")
                                                span.documents__name Название документа.pdf
                                            span.documents__text Опубликован: 12 марта 2021 года, 19:00
                                            span.documents__text Автор: Сергей Борисов
                                    a.documents__btn.nav-btn.nav-btn--dark(href="#")
                                        span ПЕРЕЙТИ В РАЗДЕЛ «Раскрытие информации»
                                        svg
                                            use(xlink:href="img/dist/sprite.svg#icon-arrow-right")
                        
                        .search-page__wrapper.section-bordered
                            .search-page__inner 
                                h2.search-page__title Сотрудники
                                a.search-page__link(href="#") СМОТРЕТЬ ВСЕ
                            .team
                                .row 
                                    .col-lg-3.col-md-4.col-12.mb-5
                                        a.team__item(href="#", data-toggle="modal", data-target="#exampleModal")
                                            .team__img
                                                .team__img--inner
                                                    img(src="img/dist/ava.png", alt="Андрей Поляков")
                                            .team__body 
                                                span.team__name Андрей Поляков
                                                span.team__position Должность сотрудника
                                    .col-lg-3.col-md-4.col-12.mb-5
                                        a.team__item(href="#", data-toggle="modal", data-target="#exampleModal")
                                            .team__img 
                                                .team__img--inner
                                                    img(src="img/dist/ava.png", alt="Андрей Поляков")
                                            .team__body 
                                                span.team__name Андрей Поляков
                                                span.team__position Должность сотрудника
                                    .col-lg-3.col-md-4.col-12.mb-5
                                        a.team__item(href="#", data-toggle="modal", data-target="#exampleModal")
                                            .team__img 
                                                .team__img--inner
                                                    img(src="img/dist/ava.png", alt="Андрей Поляков")
                                            .team__body 
                                                span.team__name Андрей Поляков
                                                span.team__position Должность сотрудника
                                    .col-lg-3.col-md-4.col-12.mb-5 
                                        a.team__item(href="#", data-toggle="modal", data-target="#exampleModal")
                                            .team__img 
                                                .team__img--inner
                                                    img(src="img/dist/ava.png", alt="Андрей Поляков")
                                            .team__body 
                                                span.team__name Андрей Поляков
                                                span.team__position Должность сотрудника
                        
                        .search-page__wrapper.section-bordered
                            .search-page__inner 
                                h2.search-page__title Объявления
                                a.search-page__link(href="#") СМОТРЕТЬ ВСЕ
                            .ads-list
                                .ads-list__wrapper 
                                    .ads-list__item 
                                        span.ads-list__date 21 марта 2021 года
                                        .ads-list__body 
                                            .ads-list__group 
                                                a.ads-list__title(href="ads-page.html") Заголовок объявления
                                                span.ads-list__date.ads-list__date--mobile 21 марта 2021 года
                                                .content.ads-list__content 
                                                    p Offers a full range of property and casualty reinsurance products on either a direct or brokered basis. Our experienced and knowledgeable underwriters perform an in-depth analysis that enables us to use our capacity on many different types of structures and risk classes. 
                                            a.ads-list__img(href="ads-page.html")
                                                img(src="img/dist/image-ads.png", alt="Заголовок объявления")
                                    .ads-list__item 
                                        span.ads-list__date 21 марта 2021 года
                                        .ads-list__body 
                                            .ads-list__group 
                                                a.ads-list__title(href="ads-page.html") Заголовок объявления
                                                span.ads-list__date.ads-list__date--mobile 21 марта 2021 года
                                                .content.ads-list__content 
                                                    p Offers a full range of property and casualty reinsurance products on either a direct or brokered basis. Our experienced and knowledgeable underwriters perform an in-depth analysis that enables us to use our capacity on many different types of structures and risk classes. 
                                    .ads-list__item 
                                        span.ads-list__date 21 марта 2021 года
                                        .ads-list__body 
                                            .ads-list__group 
                                                a.ads-list__title(href="ads-page.html") Заголовок объявления 
                                                span.ads-list__date.ads-list__date--mobile 21 марта 2021 года
            
            //- nav block
            include includes/nav-block.pug
            
            //- footer
            include includes/footer.pug

        //- scripts
        script(src='js/vendor.min.js')
        script(src='js/app.min.js')