doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Русское Перестраховочное Общество - Департамент андеррайтинга
        //- styles
        link(rel="stylesheet", href="css/vendor.min.css")
        link(rel="stylesheet", href="css/app.min.css")
    body
        //- header
        include includes/header.pug

        //- wrapper
        .wrapper 
    
            //- heading
            .heading 
                .container 
                    a.heading__link(href="team.html") Наша команда
                    h1 Департамент андеррайтинга
            
            //- team
            .team.team--mt
                .container 
                    .team__wrapper.section-bordered 
                        .team__list
                            .row 
                                .col-lg-3.col-md-4.col-12.mb-5
                                    a.team__item(href="#", data-toggle="modal", data-target="#exampleModal")
                                        .team__img
                                            .team__img--inner
                                                img(src="img/dist/ava.png", alt="Андрей Поляков")
                                        .team__body 
                                            span.team__name Андрей Поляков
                                            span.team__position Должность сотрудника
                                .col-lg-3.col-md-4.col-12.mb-5
                                .col-lg-3.col-md-4.col-12.mb-5
                                .col-lg-3.col-md-4.col-12.mb-5
                                .col-lg-3.col-md-4.col-12.mb-5
                                    a.team__item(href="#", data-toggle="modal", data-target="#exampleModal")
                                        .team__img
                                            .team__img--inner
                                                img(src="img/dist/ava.png", alt="Андрей Поляков")
                                        .team__body 
                                            span.team__name Андрей Поляков
                                            span.team__position Должность сотрудника
                                .col-lg-3.col-md-4.col-12.mb-5
                                    a.team__item(href="#", data-toggle="modal", data-target="#exampleModal")
                                        .team__img 
                                            .team__img--inner
                                                img(src="img/dist/ava.png", alt="Андрей Поляков")
                                        .team__body 
                                            span.team__name Андрей Поляков
                                            span.team__position Должность сотрудника
                                .col-lg-3.col-md-4.col-12.mb-5
                                    a.team__item(href="#", data-toggle="modal", data-target="#exampleModal")
                                        .team__img 
                                            .team__img--inner
                                                img(src="img/dist/ava.png", alt="Андрей Поляков")
                                        .team__body 
                                            span.team__name Андрей Поляков
                                            span.team__position Должность сотрудника
                                .col-lg-3.col-md-4.col-12.mb-5 
                                    a.team__item(href="#", data-toggle="modal", data-target="#exampleModal")
                                        .team__img 
                                            .team__img--inner
                                                img(src="img/dist/ava.png", alt="Андрей Поляков")
                                        .team__body 
                                            span.team__name Андрей Поляков
                                            span.team__position Должность сотрудника
                        
            
            //- nav block
            include includes/nav-block.pug
            
            //- footer
            include includes/footer.pug

        //- modal
        .modal.fade#exampleModal(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
            .modal-dialog.modal-dialog-centered(role="document")
                .modal-content
                    button.modal__close(data-dismiss="modal" aria-label="Закрыть") 
                        svg(class="modal__close--icon")
                            use(xlink:href="img/dist/sprite.svg#icon-close")
                    .modal__wrapper 
                        .modal__img 
                            img(src="img/dist/ava.png", alt="Андрей Поляков")
                        .modal__content 
                            h3.modal__title Андрей Поляков
                            span.modal__position Должность сотрудника
                            a.modal__link(href="mailto:emukhina@russianre.ru") emukhina@russianre.ru
                            a.modal__link(href="tel:+79154433322") +7 915 443 33 22

        //- scripts
        script(src='js/vendor.min.js')
        script(src='js/app.min.js')